---
title: Техно-принт
---
extends layouts/_layout

block content
	+b.MAIN.page._default
		+e.container.container
			+e.bar
				-
					var breadCrumbsList = [{text: 'Услуги фирмы'}, {text: 'Лучшие предложения', active: 'is-active'}];
				include components/_breadcrumbs

				+e.bar-title._has-icon
					+e.SPAN Популярные и интересные товары
					+icon('icon-best-choice', 'page__bar-title-icon')

			+e.in
				include components/_rubric-side
				+e.main
					+b.SECTION.sect
						+b.title-md Лучшие предложения по сувенирам, интересные идеи для подарков
						+b.P.sect-descr У нас накопились оригинальные идеи, собственные дизайн-макеты по различным тематикам, рассмотрите предложения! Все сувениры изготавливаются исключительно силами нашего предприятия, по отлаженным технологиям и многолетним наработкам. Большую часть из предложенных здесь товаров, вы не встретите в других магазинах конкурирующих организаций.
						+b.P.sect-descr Будем рады вашим заказам и сотрудничеству!

					+b.product
						+e.sect._has-filter._color
							+e.sect-title
								//+icon('icon-cups', 'product__sect-icon')
								//+e.SPAN Печать на кружках и посуде / Образцы наших работ
							+e.filter
								+e.BUTTON.filter-btn(type='button')
									+icon('icon-filter-down', 'product__filter-icon')
									= ' '
									+e.SPAN Цена
								+e.BUTTON.filter-btn(type='button')
									+icon('icon-filter-up', 'product__filter-icon')
									= ' '
									+e.SPAN Цена
								+e.BUTTON.filter-btn.is-active(type='button')
									+e.SPAN Лучшие
									= ' '
									+icon('icon-filter-best', 'product__filter-icon')
								+e.BUTTON.filter-btn(type='button')
									+icon('icon-filter-squares', 'product__filter-icon')
									= ' '
									+e.SPAN 20
								+e.BUTTON.filter-btn(type='button')
									+icon('icon-filter-squares', 'product__filter-icon')
									= ' '
									+e.SPAN 60
								+e.BUTTON.filter-btn(type='button')
									+icon('icon-filter-list', 'product__filter-icon')

						+e.examples._default
							+e.item
								+e.item-pic-wrap.js-product-item-pic
									+e.A(href='#!').item-pic.decor
										+e.IMG.item-img(src="img/content/prod-11.jpg")
										.decor__line
									+e.A.zoom(href='img/content/prod-3_lg.jpg' data-fancybox='product-1')
										+icon('icon-loupe','product__zoom-icon')
								+e.item-info
									+e.item-title Любая вышивка на  шевронной ткани, 7 цветов
										= ' '
									+e.item-descr Размер: 120х180мм
								+e.item-buy
									+e.A.buy-opt(href="#!") Опт. от
										= ' '
										+e.SPAN 240&nbsp;
										+icon('icon-ruble','product__val-icon')
									+e.BUTTON(type="button").cart-add
										+e.SPAN.price-current 400&nbsp;
											+icon('icon-ruble','product__val-icon')
							+e.item
								+e.item-pic-wrap.js-product-item-pic
									+e.A(href='#!').item-pic.decor
										+e.IMG.item-img(src="img/content/prod-12.jpg")
										.decor__line
									+e.A.zoom(href='img/content/prod-3_lg.jpg' data-fancybox='product-1')
										+icon('icon-loupe','product__zoom-icon')
								+e.item-info
									+e.item-title Любая вышивка на  полотенце, под  «Золото».
									+e.item-descr Размер: 250х100 мм
								+e.item-buy
									+e.A.buy-opt(href="#!") Опт. от
										= ' '
										+e.SPAN 140&nbsp;
										+icon('icon-ruble','product__val-icon')
									+e.BUTTON(type="button").cart-add
										+e.SPAN.price-current 400&nbsp;
											+icon('icon-ruble','product__val-icon')
							+e.item
								+e.item-pic-wrap.js-product-item-pic
									+e.A(href='#!').item-pic.decor
										+e.IMG.item-img(src="img/content/prod-10.jpg")
										.decor__line
									+e.A.zoom(href='img/content/prod-3_lg.jpg' data-fancybox='product-1')
										+icon('icon-loupe','product__zoom-icon')
								+e.item-info
									+e.item-title Полотенце -зайчик!
										= ' '
									+e.item-descr Услуга - сворачивание полотенец в виде  зайчиков, для подарка.
								+e.item-buy
									+e.BUTTON(type="button").cart-add
										+e.SPAN.price-current 150&nbsp;
											+icon('icon-ruble','product__val-icon')
							+e.item
								+e.item-pic-wrap.js-product-item-pic
									+e.A(href='#!').item-pic.decor
										+e.IMG.item-img(src="img/content/prod-11.jpg")
										.decor__line
									+e.A.zoom(href='img/content/prod-3_lg.jpg' data-fancybox='product-1')
										+icon('icon-loupe','product__zoom-icon')
								+e.item-info
									+e.item-title Любая вышивка на  шевронной ткани, 7 цветов
										= ' '
									+e.item-descr Размер: 120х180мм
								+e.item-buy
									+e.A.buy-opt(href="#!") Опт. от
										= ' '
										+e.SPAN 240&nbsp;
										+icon('icon-ruble','product__val-icon')
									+e.BUTTON(type="button").cart-add
										+e.SPAN.price-current 400&nbsp;
											+icon('icon-ruble','product__val-icon')
							+e.item
								+e.item-pic-wrap.js-product-item-pic
									+e.A(href='#!').item-pic.decor
										+e.IMG.item-img(src="img/content/prod-11.jpg")
										.decor__line
									+e.A.zoom(href='img/content/prod-3_lg.jpg' data-fancybox='product-1')
										+icon('icon-loupe','product__zoom-icon')
								+e.item-info
									+e.item-title Любая вышивка на  шевронной ткани, 7 цветов
										= ' '
									+e.item-descr Размер: 120х180мм
								+e.item-buy
									+e.A.buy-opt(href="#!") Опт. от
										= ' '
										+e.SPAN 240&nbsp;
										+icon('icon-ruble','product__val-icon')
									+e.BUTTON(type="button").cart-add
										+e.SPAN.price-current 400&nbsp;
											+icon('icon-ruble','product__val-icon')
							+e.item
								+e.item-pic-wrap.js-product-item-pic
									+e.A(href='#!').item-pic.decor
										+e.IMG.item-img(src="img/content/prod-12.jpg")
										.decor__line
									+e.A.zoom(href='img/content/prod-3_lg.jpg' data-fancybox='product-1')
										+icon('icon-loupe','product__zoom-icon')
								+e.item-info
									+e.item-title Любая вышивка на  полотенце, под  «Золото».
									+e.item-descr Размер: 250х100 мм
								+e.item-buy
									+e.A.buy-opt(href="#!") Опт. от
										= ' '
										+e.SPAN 140&nbsp;
										+icon('icon-ruble','product__val-icon')
									+e.BUTTON(type="button").cart-add
										+e.SPAN.price-current 400&nbsp;
											+icon('icon-ruble','product__val-icon')
							+e.item
								+e.item-pic-wrap.js-product-item-pic
									+e.A(href='#!').item-pic.decor
										+e.IMG.item-img(src="img/content/prod-10.jpg")
										.decor__line
									+e.A.zoom(href='img/content/prod-3_lg.jpg' data-fancybox='product-1')
										+icon('icon-loupe','product__zoom-icon')
								+e.item-info
									+e.item-title Полотенце -зайчик!
										= ' '
									+e.item-descr Услуга - сворачивание полотенец в виде  зайчиков, для подарка.
								+e.item-buy
									+e.BUTTON(type="button").cart-add
										+e.SPAN.price-current 150&nbsp;
											+icon('icon-ruble','product__val-icon')
							+e.item
								+e.item-pic-wrap.js-product-item-pic
									+e.A(href='#!').item-pic.decor
										+e.IMG.item-img(src="img/content/prod-11.jpg")
										.decor__line
									+e.A.zoom(href='img/content/prod-3_lg.jpg' data-fancybox='product-1')
										+icon('icon-loupe','product__zoom-icon')
								+e.item-info
									+e.item-title Любая вышивка на  шевронной ткани, 7 цветов
										= ' '
									+e.item-descr Размер: 120х180мм
								+e.item-buy
									+e.A.buy-opt(href="#!") Опт. от
										= ' '
										+e.SPAN 240&nbsp;
										+icon('icon-ruble','product__val-icon')
									+e.BUTTON(type="button").cart-add
										+e.SPAN.price-current 400&nbsp;
											+icon('icon-ruble','product__val-icon')
							+e.item
								+e.item-pic-wrap.js-product-item-pic
									+e.A(href='#!').item-pic.decor
										+e.IMG.item-img(src="img/content/prod-11.jpg")
										.decor__line
									+e.A.zoom(href='img/content/prod-3_lg.jpg' data-fancybox='product-1')
										+icon('icon-loupe','product__zoom-icon')
								+e.item-info
									+e.item-title Любая вышивка на  шевронной ткани, 7 цветов
										= ' '
									+e.item-descr Размер: 120х180мм
								+e.item-buy
									+e.A.buy-opt(href="#!") Опт. от
										= ' '
										+e.SPAN 240&nbsp;
										+icon('icon-ruble','product__val-icon')
									+e.BUTTON(type="button").cart-add
										+e.SPAN.price-current 400&nbsp;
											+icon('icon-ruble','product__val-icon')
							+e.item
								+e.item-pic-wrap.js-product-item-pic
									+e.A(href='#!').item-pic.decor
										+e.IMG.item-img(src="img/content/prod-11.jpg")
										.decor__line
									+e.A.zoom(href='img/content/prod-3_lg.jpg' data-fancybox='product-1')
										+icon('icon-loupe','product__zoom-icon')
								+e.item-info
									+e.item-title Любая вышивка на  полотенце, под  «Золото».
									+e.item-descr Размер: 250х100 мм
								+e.item-buy
									+e.A.buy-opt(href="#!") Опт. от
										= ' '
										+e.SPAN 140&nbsp;
										+icon('icon-ruble','product__val-icon')
									+e.BUTTON(type="button").cart-add
										+e.SPAN.price-current 400&nbsp;
											+icon('icon-ruble','product__val-icon')
							+e.item
								+e.item-pic-wrap.js-product-item-pic
									+e.A(href='#!').item-pic.decor
										+e.IMG.item-img(src="img/content/prod-11.jpg")
										.decor__line
									+e.A.zoom(href='img/content/prod-3_lg.jpg' data-fancybox='product-1')
										+icon('icon-loupe','product__zoom-icon')
								+e.item-info
									+e.item-title Полотенце -зайчик!
										= ' '
									+e.item-descr Услуга - сворачивание полотенец в виде  зайчиков, для подарка.
								+e.item-buy
									+e.BUTTON(type="button").cart-add
										+e.SPAN.price-current 150&nbsp;
											+icon('icon-ruble','product__val-icon')
							+e.item
								+e.item-pic-wrap.js-product-item-pic
									+e.A(href='#!').item-pic.decor
										+e.IMG.item-img(src="img/content/prod-11.jpg")
										.decor__line
									+e.A.zoom(href='img/content/prod-3_lg.jpg' data-fancybox='product-1')
										+icon('icon-loupe','product__zoom-icon')
								+e.item-info
									+e.item-title Любая вышивка на  шевронной ткани, 7 цветов
										= ' '
									+e.item-descr Размер: 120х180мм
								+e.item-buy
									+e.A.buy-opt(href="#!") Опт. от
										= ' '
										+e.SPAN 240&nbsp;
										+icon('icon-ruble','product__val-icon')
									+e.BUTTON(type="button").cart-add
										+e.SPAN.price-current 400&nbsp;
											+icon('icon-ruble','product__val-icon')


						+b.pagination._product
							+e.UL.list
								+e.list-item._prev
									+e.list-link(href='#!')
										+icon('icon-arr-page', 'pagination__icon-arr')
								+e.list-item.is-active
									+e.list-link(href='#!') 1
								+e.list-item
									+e.list-link(href='#!') 2
								+e.list-item
									+e.list-link(href='#!') 3
								+e.list-item
									+e.list-link(href='#!') 4
								+e.list-item
									+e.list-link(href='#!') 5
								+e.list-item._dots
									+e.list-link(href='#!') ...
								+e.list-item
									+e.list-link(href='#!') 12
								+e.list-item._next
									+e.list-link(href='#!') Следующая

					-
						var catMenu = {
						title: 'ЖДЁМ ВАШИХ ЗАКАЗОВ!',
						classMod: '_default'};
					include components/_category-menu

		- var benefitsClass = '_default'
		include components/_benefits
