---
title: Техно-принт
---
extends layouts/_layout

block content
	+b.MAIN.page._default
		+e.container.container
			+e.bar
				+b.breadcrumbs
					+e.A.link(href='#!')
						+icon('icon-house', 'breadcrumbs__icon')
						= ' '
						+e.SPAN Главная
					+e.A.link.is-active(href='#!')
						+e.SPAN Печать на одежде

				+e.bar-title._has-icon._shirts
					+e.SPAN Печать на майках, футболках и одежде
					+icon('icon-shirts', 'page__bar-title-icon')

			+e.in
				include components/_rubric-side
				+e.main
					+b.SECTION.clothes
						+e.title.title-md ПЕЧАТЬ НА МАЙКАХ И ЛЮБОЙ ОДЕЖДЕ, НАНЕСЕНИЕ ЛОГОТИПОВ. ПРЕДСТАВЛЯЕМ КАТАЛОГ ГОТОВЫХ ДИЗАЙНОВ. ПЕЧАТЬ НА МАЙКАХ ВОЗМОЖНА ЗА 20 МИНУТ, ПРИ ВАС. ДОСТАВКА В РЕГИОНЫ
						+e.in
							+e.col
								+e.P.descr Мы профессионально занимаемся нанесением изображений на одежды! Развитию этого направления производства мы посвятили не один год.  Печать на одежде возможно несколькими технологическими методами. В зависимости от назначения, мы подберём для вас самые оптимальные варианты. Это может быть термотрансфер, стойкая сублимационная печать или комбинированная технология - «сольвентная печать + контурная резка». Обращайтесь с расчетами заказов и консультацией. Вы получите исчерпывающую информацию.
								+e.P.descr Печать на майках популярная услуга, на сайте мы организовали каталог образцов дизайна и наших работ, смотрите, выбирайте, предлагайте свои варианты дизайнов! У нас доступные цены, предлагаем изготовление от единичного экземпляра, до большого корпоративного тиража.
								+e.P.descr Ждём ваших заказов!

							+b.label-block.clothes__label-block.clothes__col
								+e.title Печать на одежде
								+e.in
									+e.item
										+e.IMG.item-img(src='img/content/shirts-1.jpg')
										+e.A.item-label(href='#!') Печать логотипов
									+e.item
										+e.IMG.item-img(src='img/content/shirts-2.jpg')
										+e.A.item-label(href='#!') Любая одежда
									+e.item
										+e.IMG.item-img(src='img/content/shirts-3.jpg')
										+e.A.item-label(href='#!') Футболки с дизайном!
									+e.item
										+e.item._half
											+e.IMG.item-img(src='img/content/shirts-4.jpg')
											+e.A.item-label._top(href='#!') Корпоративные
										+e.item._double
												+e.IMG.item-img(src='img/content/shirts-5.jpg')
										+e.item._double
											+e.IMG.item-img(src='img/content/shirts-6.jpg')
											+e.A.item-label(href='#!') Спортивные
								+e.logo
									+e.IMG.logo-img(src='img/logo-label.svg')

					+b.product
						+e.sect._has-filter._color
							+e.sect-title
								+icon('icon-shirts', 'product__sect-icon')
								+e.SPAN Печать на одежде / Образцы наших работ
							+e.filter
								+e.BUTTON.filter-btn(type='button')
									+icon('icon-filter-down', 'product__filter-icon')
									= ' '
									+e.SPAN Цена
								+e.BUTTON.filter-btn(type='button')
									+icon('icon-filter-up', 'product__filter-icon')
									= ' '
									+e.SPAN Цена
								+e.BUTTON.filter-btn.is-active(type='button')
									+e.SPAN Лучшие
									= ' '
									+icon('icon-filter-best', 'product__filter-icon')
								+e.BUTTON.filter-btn(type='button')
									+icon('icon-filter-squares', 'product__filter-icon')
									= ' '
									+e.SPAN 20
								+e.BUTTON.filter-btn(type='button')
									+icon('icon-filter-squares', 'product__filter-icon')
									= ' '
									+e.SPAN 60
								+e.BUTTON.filter-btn(type='button')
									+icon('icon-filter-list', 'product__filter-icon')

						+e.examples._default
							+e.item
								+e.item-pic-wrap.js-product-item-pic
									+e.A(href='#!').item-pic.decor
										+e.IMG.item-img(src="img/content/prod-11.jpg")
										.decor__line
									+e.A.zoom(href='img/content/prod-3_lg.jpg' data-fancybox='product-1')
										+icon('icon-loupe','product__zoom-icon')
								+e.item-info
									+e.item-title Любая вышивка на  шевронной ткани, 7 цветов
										= ' '
									+e.item-descr Размер: 120х180мм
								+e.item-buy
									+e.A.buy-opt(href="#!") Опт. от
										= ' '
										+e.SPAN 240&nbsp;
										+icon('icon-ruble','product__val-icon')
									+e.BUTTON(type="button").cart-add
										+e.SPAN.price-current 400&nbsp;
											+icon('icon-ruble','product__val-icon')
							+e.item
								+e.item-pic-wrap.js-product-item-pic
									+e.A(href='#!').item-pic.decor
										+e.IMG.item-img(src="img/content/prod-12.jpg")
										.decor__line
									+e.A.zoom(href='img/content/prod-3_lg.jpg' data-fancybox='product-1')
										+icon('icon-loupe','product__zoom-icon')
								+e.item-info
									+e.item-title Любая вышивка на  полотенце, под  «Золото».
									+e.item-descr Размер: 250х100 мм
								+e.item-buy
									+e.A.buy-opt(href="#!") Опт. от
										= ' '
										+e.SPAN 140&nbsp;
										+icon('icon-ruble','product__val-icon')
									+e.BUTTON(type="button").cart-add
										+e.SPAN.price-current 400&nbsp;
											+icon('icon-ruble','product__val-icon')
							+e.item
								+e.item-pic-wrap.js-product-item-pic
									+e.A(href='#!').item-pic.decor
										+e.IMG.item-img(src="img/content/prod-10.jpg")
										.decor__line
									+e.A.zoom(href='img/content/prod-3_lg.jpg' data-fancybox='product-1')
										+icon('icon-loupe','product__zoom-icon')
								+e.item-info
									+e.item-title Полотенце -зайчик!
										= ' '
									+e.item-descr Услуга - сворачивание полотенец в виде  зайчиков, для подарка.
								+e.item-buy
									+e.BUTTON(type="button").cart-add
										+e.SPAN.price-current 150&nbsp;
											+icon('icon-ruble','product__val-icon')
							+e.item
								+e.item-pic-wrap.js-product-item-pic
									+e.A(href='#!').item-pic.decor
										+e.IMG.item-img(src="img/content/prod-11.jpg")
										.decor__line
									+e.A.zoom(href='img/content/prod-3_lg.jpg' data-fancybox='product-1')
										+icon('icon-loupe','product__zoom-icon')
								+e.item-info
									+e.item-title Любая вышивка на  шевронной ткани, 7 цветов
										= ' '
									+e.item-descr Размер: 120х180мм
								+e.item-buy
									+e.A.buy-opt(href="#!") Опт. от
										= ' '
										+e.SPAN 240&nbsp;
										+icon('icon-ruble','product__val-icon')
									+e.BUTTON(type="button").cart-add
										+e.SPAN.price-current 400&nbsp;
											+icon('icon-ruble','product__val-icon')
							+e.item
								+e.item-pic-wrap.js-product-item-pic
									+e.A(href='#!').item-pic.decor
										+e.IMG.item-img(src="img/content/prod-11.jpg")
										.decor__line
									+e.A.zoom(href='img/content/prod-3_lg.jpg' data-fancybox='product-1')
										+icon('icon-loupe','product__zoom-icon')
								+e.item-info
									+e.item-title Любая вышивка на  шевронной ткани, 7 цветов
										= ' '
									+e.item-descr Размер: 120х180мм
								+e.item-buy
									+e.A.buy-opt(href="#!") Опт. от
										= ' '
										+e.SPAN 240&nbsp;
										+icon('icon-ruble','product__val-icon')
									+e.BUTTON(type="button").cart-add
										+e.SPAN.price-current 400&nbsp;
											+icon('icon-ruble','product__val-icon')
							+e.item
								+e.item-pic-wrap.js-product-item-pic
									+e.A(href='#!').item-pic.decor
										+e.IMG.item-img(src="img/content/prod-12.jpg")
										.decor__line
									+e.A.zoom(href='img/content/prod-3_lg.jpg' data-fancybox='product-1')
										+icon('icon-loupe','product__zoom-icon')
								+e.item-info
									+e.item-title Любая вышивка на  полотенце, под  «Золото».
									+e.item-descr Размер: 250х100 мм
								+e.item-buy
									+e.A.buy-opt(href="#!") Опт. от
										= ' '
										+e.SPAN 140&nbsp;
										+icon('icon-ruble','product__val-icon')
									+e.BUTTON(type="button").cart-add
										+e.SPAN.price-current 400&nbsp;
											+icon('icon-ruble','product__val-icon')
							+e.item
								+e.item-pic-wrap.js-product-item-pic
									+e.A(href='#!').item-pic.decor
										+e.IMG.item-img(src="img/content/prod-10.jpg")
										.decor__line
									+e.A.zoom(href='img/content/prod-3_lg.jpg' data-fancybox='product-1')
										+icon('icon-loupe','product__zoom-icon')
								+e.item-info
									+e.item-title Полотенце -зайчик!
										= ' '
									+e.item-descr Услуга - сворачивание полотенец в виде  зайчиков, для подарка.
								+e.item-buy
									+e.BUTTON(type="button").cart-add
										+e.SPAN.price-current 150&nbsp;
											+icon('icon-ruble','product__val-icon')
							+e.item
								+e.item-pic-wrap.js-product-item-pic
									+e.A(href='#!').item-pic.decor
										+e.IMG.item-img(src="img/content/prod-11.jpg")
										.decor__line
									+e.A.zoom(href='img/content/prod-3_lg.jpg' data-fancybox='product-1')
										+icon('icon-loupe','product__zoom-icon')
								+e.item-info
									+e.item-title Любая вышивка на  шевронной ткани, 7 цветов
										= ' '
									+e.item-descr Размер: 120х180мм
								+e.item-buy
									+e.A.buy-opt(href="#!") Опт. от
										= ' '
										+e.SPAN 240&nbsp;
										+icon('icon-ruble','product__val-icon')
									+e.BUTTON(type="button").cart-add
										+e.SPAN.price-current 400&nbsp;
											+icon('icon-ruble','product__val-icon')
							+e.item
								+e.item-pic-wrap.js-product-item-pic
									+e.A(href='#!').item-pic.decor
										+e.IMG.item-img(src="img/content/prod-11.jpg")
										.decor__line
									+e.A.zoom(href='img/content/prod-3_lg.jpg' data-fancybox='product-1')
										+icon('icon-loupe','product__zoom-icon')
								+e.item-info
									+e.item-title Любая вышивка на  шевронной ткани, 7 цветов
										= ' '
									+e.item-descr Размер: 120х180мм
								+e.item-buy
									+e.A.buy-opt(href="#!") Опт. от
										= ' '
										+e.SPAN 240&nbsp;
										+icon('icon-ruble','product__val-icon')
									+e.BUTTON(type="button").cart-add
										+e.SPAN.price-current 400&nbsp;
											+icon('icon-ruble','product__val-icon')
							+e.item
								+e.item-pic-wrap.js-product-item-pic
									+e.A(href='#!').item-pic.decor
										+e.IMG.item-img(src="img/content/prod-11.jpg")
										.decor__line
									+e.A.zoom(href='img/content/prod-3_lg.jpg' data-fancybox='product-1')
										+icon('icon-loupe','product__zoom-icon')
								+e.item-info
									+e.item-title Любая вышивка на  полотенце, под  «Золото».
									+e.item-descr Размер: 250х100 мм
								+e.item-buy
									+e.A.buy-opt(href="#!") Опт. от
										= ' '
										+e.SPAN 140&nbsp;
										+icon('icon-ruble','product__val-icon')
									+e.BUTTON(type="button").cart-add
										+e.SPAN.price-current 400&nbsp;
											+icon('icon-ruble','product__val-icon')
							+e.item
								+e.item-pic-wrap.js-product-item-pic
									+e.A(href='#!').item-pic.decor
										+e.IMG.item-img(src="img/content/prod-11.jpg")
										.decor__line
									+e.A.zoom(href='img/content/prod-3_lg.jpg' data-fancybox='product-1')
										+icon('icon-loupe','product__zoom-icon')
								+e.item-info
									+e.item-title Полотенце -зайчик!
										= ' '
									+e.item-descr Услуга - сворачивание полотенец в виде  зайчиков, для подарка.
								+e.item-buy
									+e.BUTTON(type="button").cart-add
										+e.SPAN.price-current 150&nbsp;
											+icon('icon-ruble','product__val-icon')
							+e.item
								+e.item-pic-wrap.js-product-item-pic
									+e.A(href='#!').item-pic.decor
										+e.IMG.item-img(src="img/content/prod-11.jpg")
										.decor__line
									+e.A.zoom(href='img/content/prod-3_lg.jpg' data-fancybox='product-1')
										+icon('icon-loupe','product__zoom-icon')
								+e.item-info
									+e.item-title Любая вышивка на  шевронной ткани, 7 цветов
										= ' '
									+e.item-descr Размер: 120х180мм
								+e.item-buy
									+e.A.buy-opt(href="#!") Опт. от
										= ' '
										+e.SPAN 240&nbsp;
										+icon('icon-ruble','product__val-icon')
									+e.BUTTON(type="button").cart-add
										+e.SPAN.price-current 400&nbsp;
											+icon('icon-ruble','product__val-icon')


						+b.pagination._product
							+e.UL.list
								+e.list-item._prev
									+e.list-link(href='#!')
										+icon('icon-arr-page', 'pagination__icon-arr')
								+e.list-item.is-active
									+e.list-link(href='#!') 1
								+e.list-item
									+e.list-link(href='#!') 2
								+e.list-item
									+e.list-link(href='#!') 3
								+e.list-item
									+e.list-link(href='#!') 4
								+e.list-item
									+e.list-link(href='#!') 5
								+e.list-item._dots
									+e.list-link(href='#!') ...
								+e.list-item
									+e.list-link(href='#!') 12
								+e.list-item._next
									+e.list-link(href='#!') Следующая

					-
						var catMenu = {
						title: 'ЖДЁМ ВАШИХ ЗАКАЗОВ!',
						classMod: '_default'};
					include components/_category-menu

		- var benefitsClass = '_default'
		include components/_benefits
