---
title: Техно-принт
---
extends layouts/_layout

block content
	+b.MAIN.page._default
		+e.container.container
			+e.bar
				+b.breadcrumbs
					+e.A.link(href='#!')
						+icon('icon-house', 'breadcrumbs__icon')
						= ' '
						+e.SPAN Главная
					+e.A.link.is-active(href='#!')
						+e.SPAN Доставка

				+e.bar-title
					+e.SPAN Быстро, удобно, надёжно!

			+e.in
				include components/_rubric-side
				+e.main
					+b.delivery
						+e.country
							+e.title.title-lg ДОСТАВКА ПО РОССИИ ТРАНСПОРТНЫМИ КОМПАНИЯМИ
							+e.country-in
								+e.country-text
									+e.UL
										+e.LI ПЭК
										+e.LI СДЭК
										+e.LI ДЕЛОВЫЕ ЛИНИИ
										+e.LI DHL
								+e.country-pic
									+e.IMG(src='img/bg/delivery_map.png')

						+e.city
							+e.title.title-lg ДОСТАВКА ПО ГОРОДУ САМАРА
							+e.city-bg(style='background-image: url(img/bg/delivery.svg)')
							+e.city-text
								+e.P Штучные товары заказанные через интернет-магазин - 250 руб. по Самаре (такую доставку желательно планировать заранее в рабочее время)
								+e.P Заказы-грузы до 10 кг веса в центре - 300 руб.
								+e.P Дальние районы города - 350 руб.

					-
						var catMenu = {
						title: 'ЖДЁМ ВАШИХ ЗАКАЗОВ!',
						classMod: '_default'};
					include components/_category-menu

		- var benefitsClass = '_default'
			include components/_benefits
