---
title: Техно-принт
---
extends layouts/_layout

block content
	+b.MAIN
		+b.SECTION.about-text
			+e.container.container
				+e.title ВЗГЛЯНИТЕ НА ОРИГИНАЛЬНЫЕ НОВИНКИ И НАШИ ВОЗМОЖНОСТИ В ПРОИЗВОДСТВЕ!
				+e.descr Мы являемся оптово-производственной организацией с большим опытом работы. В магазине представлены товары и услуги, изготавливаемые  исключительно силами нашего предприятия. Вы находитесь на  сайте изготовителя. Поэтому не удивляйтесь отличающимся ценам, в значительно меньшую сторону. Кроме цены, мы гарантируем современное качество и быстрые сроки изготовления. Более половины штучных заказов на сувениры выполняется в вашем присутствии (отправка в регионы возможна днём поступления заказа).
		include components/_product
		include components/_extra
		include components/_request

		- var rubricClass = '_home'
			include components/_rubric
		include components/_benefits
