---
title: Сувенирно-полиграфическая компания «Техно-Принт». Производство от брелков до машинной вышивки! Мы специализируемся на подарочной продукции, печати на одежде, нанесению логотипов и номеров на спортивную  форму, изготовлении значков, фотомагнитов, печати на холстах и изготовлении картин. Работаем оптом и в розницу. Изготавливаем фотокниги, печатаем на кружках, майках, футболках. Наносим любые изображения и логотипы с вышивкой на одежду, это могут быть кепки,  спецодежда. Новинка нашего производства - вышивка на полотенцах, халатах, крое и почти любой ткани, всё можно заказать дистанционно в нашем интернет-магазине.
content: Мы специализируемся на изготовлении оригинальных подарков и печати логотипов. Печати на майках по нескольким видам технологии, печать на сувенирных кружках, толстовках, вертовках. Изготовим оригинальные фотокниги с голографическими обложками. Наносим логотипы  на одежду по оптовым ценам. Изготавливаем закатные значки, брелки и магнитики на холодильник, печатаем постеры, холсты и картины с багетными рамами.
---
extends layouts/_layout

block content
	+b.MAIN
		+b.SECTION.about-text
			+e.container.container
				+e.title ВЗГЛЯНИТЕ НА ОРИГИНАЛЬНЫЕ НОВИНКИ И НАШИ ВОЗМОЖНОСТИ В ПРОИЗВОДСТВЕ!
				+e.descr Мы являемся оптово-производственной организацией с большим опытом работы. В магазине представлены товары и услуги, изготавливаемые  исключительно силами нашего предприятия. Вы находитесь на  сайте изготовителя. Поэтому не удивляйтесь отличающимся ценам, в значительно меньшую сторону. Кроме цены, мы гарантируем современное качество и быстрые сроки изготовления. Более половины штучных заказов на сувениры выполняется в вашем присутствии (отправка в регионы возможна днём поступления заказа).
		include components/_product
		include components/_extra
		include components/_request

		- var rubricClass = '_home'
			include components/_rubric
		include components/_benefits
