---
title: Техно-принт
---
extends layouts/_layout

block content
	+b.MAIN.page._default
		+e.container.container
			+e.bar
				+b.breadcrumbs
					+e.A.link(href='#!')
						+icon('icon-house', 'breadcrumbs__icon')
						= ' '
						+e.SPAN Главная
					+e.A.link.is-active(href='#!')
						+e.SPAN Новости

				+e.bar-title
					+e.SPAN Артикул: 22

			+e.in
				include components/_rubric-side
				+b.news.page__main
					+e.ARTICLE.post
						+e.post-pic
							+e.post-img-wrap
								+e.IMG(src='img/content/news-1.jpg')
							+e.post-date
								+e.SPAN 9 января 2017
								=	' '
								+e.SPAN 13:25
						+e.post-title Заработал в полную мощность
							br
							| дополнительный офис на ул.  Первомайская
						+e.post-descr
							+e.P В данный момент закончена установка оборудования, плоттеры для печати чертежей расставлены на специальные конструкции, с дополнительными роликами бумаги для печати. Это усиливает снижение себестоимости, надёжность в непрерывности печати и её скорость. Сделаны большие корзины-приёмники для чертежей. Придя к нам, вы точно выиграете в цене, качестве печати и Сделаны большие корзины-приёмники для чертежей. Придя к нам, вы точно выиграете в цене, качестве печати и кнррнренрер еоео6нгоно ноеноеноен  для чертежей. Придя к нам, вы точно выиграете в цене, качестве печати и
							+e.P В данный момент закончена установка оборудования, плоттеры для печати чертежей расставлены на специальные конструкции, с дополнительными роликами бумаги для печати. Это усиливает снижение себестоимости, надёжность в непрерывности печати и её скорость. Сделаны большие корзины-приёмники для чертежей. Придя к нам, вы точно выиграете в цене, качестве печати и Сделаны большие корзины-приёмники для чертежей. Сделаны большие корзины-приёмники для чертежей. Придя к нам, вы точно выиграете в цене, качестве печати и Сделаны большие корзины-приёмники для чертежей.
							+e.BUTTON.post-more-btn.js-more-text-news(type='button')
								+icon('icon-arr-def', 'news__post-more-icon')
								= ' '
								+e.SPAN Показать полностью

					+e.ARTICLE.post
						+e.post-pic
							+e.post-img-wrap
								+e.IMG(src='img/content/news-2.jpg')
							+e.post-date
								+e.SPAN 9 января 2017
								=  ' '
								+e.SPAN 13:25
						+e.post-title Заработал в полную мощность
							br
							| дополнительный офис на ул.  Первомайская
						+e.post-descr
							+e.P В данный момент закончена установка оборудования, плоттеры для печати чертежей расставлены на специальные конструкции, с дополнительными роликами бумаги для печати. Это усиливает снижение себестоимости, надёжность в непрерывности печати и её скорость. Сделаны большие корзины-приёмники для чертежей. Придя к нам, вы точно выиграете в цене, качестве печати и Сделаны большие корзины-приёмники для чертежей. Придя к нам, вы точно выиграете в цене, качестве печати и кнррнренрер еоео6нгоно ноеноеноен  для чертежей. Придя к нам, вы точно выиграете в цене, качестве печати и
							+e.P В данный момент закончена установка оборудования, плоттеры для печати чертежей расставлены на специальные конструкции, с дополнительными роликами бумаги для печати. Это усиливает снижение себестоимости, надёжность в непрерывности печати и её скорость. Сделаны большие корзины-приёмники для чертежей. Придя к нам, вы точно выиграете в цене, качестве печати и Сделаны большие корзины-приёмники для чертежей. Сделаны большие корзины-приёмники для чертежей. Придя к нам, вы точно выиграете в цене, качестве печати и Сделаны большие корзины-приёмники для чертежей.
							+e.BUTTON.post-more-btn.js-more-text-news(type='button')
								+icon('icon-arr-def', 'news__post-more-icon')
								= ' '
								+e.SPAN Показать полностью

					+e.ARTICLE.post
						+e.post-pic
							+e.post-img-wrap
								+e.IMG(src='img/content/news-1.jpg')
							+e.post-date
								+e.SPAN 9 января 2017
								=  ' '
								+e.SPAN 13:25
						+e.post-title Заработал в полную мощность
							br
							| дополнительный офис на ул.  Первомайская
						+e.post-descr._important
							+e.P В данный момент закончена установка оборудования, плоттеры для печати чертежей расставлены на специальные конструкции, с дополнительными роликами бумаги для печати. Это усиливает снижение себестоимости, надёжность в непрерывности печати и её скорость. Сделаны большие корзины-приёмники для чертежей. Придя к нам, вы точно выиграете в цене, качестве печати и Сделаны большие корзины-приёмники для чертежей. Придя к нам, вы точно выиграете в цене, качестве печати и кнррнренрер еоео6нгоно ноеноеноен  для чертежей. Придя к нам, вы точно выиграете в цене, качестве печати и
							+e.P В данный момент закончена установка оборудования, плоттеры для печати чертежей расставлены на специальные конструкции, с дополнительными роликами бумаги для печати. Это усиливает снижение себестоимости, надёжность в непрерывности печати и её скорость. Сделаны большие корзины-приёмники для чертежей. Придя к нам, вы точно выиграете в цене, качестве печати и Сделаны большие корзины-приёмники для чертежей. Сделаны большие корзины-приёмники для чертежей. Придя к нам, вы точно выиграете в цене, качестве печати и Сделаны большие корзины-приёмники для чертежей.
							+e.BUTTON.post-more-btn.js-more-text-news(type='button')
								+icon('icon-arr-def', 'news__post-more-icon')
								= ' '
								+e.SPAN Показать полностью

					+e.ARTICLE.post
						+e.post-pic
							+e.post-img-wrap
								+e.IMG(src='img/content/news-2.jpg')
							+e.post-date
								+e.SPAN 9 января 2017
								=  ' '
								+e.SPAN 13:25
						+e.post-title Заработал в полную мощность
							br
							| дополнительный офис на ул.  Первомайская
						+e.post-descr
							+e.P В данный момент закончена установка оборудования, плоттеры для печати чертежей расставлены на специальные конструкции, с дополнительными роликами бумаги для печати. Это усиливает снижение себестоимости, надёжность в непрерывности печати и её скорость. Сделаны большие корзины-приёмники для чертежей. Придя к нам, вы точно выиграете в цене, качестве печати и Сделаны большие корзины-приёмники для чертежей. Придя к нам, вы точно выиграете в цене, качестве печати и кнррнренрер еоео6нгоно ноеноеноен  для чертежей. Придя к нам, вы точно выиграете в цене, качестве печати и
							+e.P В данный момент закончена установка оборудования, плоттеры для печати чертежей расставлены на специальные конструкции, с дополнительными роликами бумаги для печати. Это усиливает снижение себестоимости, надёжность в непрерывности печати и её скорость. Сделаны большие корзины-приёмники для чертежей. Придя к нам, вы точно выиграете в цене, качестве печати и Сделаны большие корзины-приёмники для чертежей. Сделаны большие корзины-приёмники для чертежей. Придя к нам, вы точно выиграете в цене, качестве печати и Сделаны большие корзины-приёмники для чертежей.
							+e.BUTTON.post-more-btn.js-more-text-news(type='button')
								+icon('icon-arr-def', 'news__post-more-icon')
								= ' '
								+e.SPAN Показать полностью

					+e.ARTICLE.post
						+e.post-pic
							+e.post-img-wrap
								+e.IMG(src='img/content/news-1.jpg')
							+e.post-date
								+e.SPAN 9 января 2017
								=  ' '
								+e.SPAN 13:25
						+e.post-title Заработал в полную мощность
							br
							| дополнительный офис на ул.  Первомайская
						+e.post-descr
							+e.P В данный момент закончена установка оборудования, плоттеры для печати чертежей расставлены на специальные конструкции, с дополнительными роликами бумаги для печати. Это усиливает снижение себестоимости, надёжность в непрерывности печати и её скорость. Сделаны большие корзины-приёмники для чертежей. Придя к нам, вы точно выиграете в цене, качестве печати и Сделаны большие корзины-приёмники для чертежей. Придя к нам, вы точно выиграете в цене, качестве печати и кнррнренрер еоео6нгоно ноеноеноен  для чертежей. Придя к нам, вы точно выиграете в цене, качестве печати и
							+e.P В данный момент закончена установка оборудования, плоттеры для печати чертежей расставлены на специальные конструкции, с дополнительными роликами бумаги для печати. Это усиливает снижение себестоимости, надёжность в непрерывности печати и её скорость. Сделаны большие корзины-приёмники для чертежей. Придя к нам, вы точно выиграете в цене, качестве печати и Сделаны большие корзины-приёмники для чертежей. Сделаны большие корзины-приёмники для чертежей. Придя к нам, вы точно выиграете в цене, качестве печати и Сделаны большие корзины-приёмники для чертежей.
							+e.BUTTON.post-more-btn.js-more-text-news(type='button')
								+icon('icon-arr-def', 'news__post-more-icon')
								= ' '
								+e.SPAN Показать полностью

					+e.ARTICLE.post
						+e.post-pic
							+e.post-img-wrap
								+e.IMG(src='img/content/news-2.jpg')
							+e.post-date
								+e.SPAN 9 января 2017
								=  ' '
								+e.SPAN 13:25
						+e.post-title Заработал в полную мощность
							br
							| дополнительный офис на ул.  Первомайская
						+e.post-descr
							+e.P В данный момент закончена установка оборудования, плоттеры для печати чертежей расставлены на специальные конструкции, с дополнительными роликами бумаги для печати. Это усиливает снижение себестоимости, надёжность в непрерывности печати и её скорость. Сделаны большие корзины-приёмники для чертежей. Придя к нам, вы точно выиграете в цене, качестве печати и Сделаны большие корзины-приёмники для чертежей. Придя к нам, вы точно выиграете в цене, качестве печати и кнррнренрер еоео6нгоно ноеноеноен  для чертежей. Придя к нам, вы точно выиграете в цене, качестве печати и
							+e.P В данный момент закончена установка оборудования, плоттеры для печати чертежей расставлены на специальные конструкции, с дополнительными роликами бумаги для печати. Это усиливает снижение себестоимости, надёжность в непрерывности печати и её скорость. Сделаны большие корзины-приёмники для чертежей. Придя к нам, вы точно выиграете в цене, качестве печати и Сделаны большие корзины-приёмники для чертежей. Сделаны большие корзины-приёмники для чертежей. Придя к нам, вы точно выиграете в цене, качестве печати и Сделаны большие корзины-приёмники для чертежей.
							+e.BUTTON.post-more-btn.js-more-text-news(type='button')
								+icon('icon-arr-def', 'news__post-more-icon')
								= ' '
								+e.SPAN Показать полностью

					+e.ARTICLE.post
						+e.post-pic
							+e.post-img-wrap
								+e.IMG(src='img/content/news-1.jpg')
							+e.post-date
								+e.SPAN 9 января 2017
								=  ' '
								+e.SPAN 13:25
						+e.post-title Заработал в полную мощность
							br
							| дополнительный офис на ул.  Первомайская
						+e.post-descr
							+e.P В данный момент закончена установка оборудования, плоттеры для печати чертежей расставлены на специальные конструкции, с дополнительными роликами бумаги для печати. Это усиливает снижение себестоимости, надёжность в непрерывности печати и её скорость. Сделаны большие корзины-приёмники для чертежей. Придя к нам, вы точно выиграете в цене, качестве печати и Сделаны большие корзины-приёмники для чертежей. Придя к нам, вы точно выиграете в цене, качестве печати и Сделаны большие корзины-приёмники для чертежей. Придя к нам, вы точно выиграете в цене, качестве печати и
							+e.P В данный момент закончена установка оборудования, плоттеры для печати чертежей расставлены на специальные конструкции, с дополнительными роликами бумаги для печати. Это усиливает снижение себестоимости, надёжность в непрерывности печати и её скорость. Сделаны большие корзины-приёмники для чертежей. Придя к нам, вы точно выиграете в цене, качестве печати и Сделаны большие корзины-приёмники для чертежей. Сделаны большие корзины-приёмники для чертежей. Придя к нам, вы точно выиграете в цене, качестве печати и Сделаны большие корзины-приёмники для чертежей.
							+e.BUTTON.post-more-btn.js-more-text-news(type='button')
								+icon('icon-arr-def', 'news__post-more-icon')
								= ' '
								+e.SPAN Показать полностью

					+b.pagination._news
						+e.UL.list
							+e.list-item._prev
								+e.list-link(href='#!')
									+icon('icon-arr-page', 'pagination__icon-arr')
							+e.list-item.is-active
								+e.list-link(href='#!') 1
							+e.list-item
								+e.list-link(href='#!') 2
							+e.list-item
								+e.list-link(href='#!') 3
							+e.list-item
								+e.list-link(href='#!') 4
							+e.list-item
								+e.list-link(href='#!') 5
							+e.list-item._dots
								+e.list-link(href='#!') ...
							+e.list-item
								+e.list-link(href='#!') 12
							+e.list-item._next
								+e.list-link(href='#!') Следующая

	- var benefitsClass = '_default'
		include components/_benefits
