---
title: Техно-принт
---
extends layouts/_layout

block content
	+b.MAIN.page._default
		+e.container.container
			+e.bar
				+b.breadcrumbs
					+e.A.link(href='#!')
						+icon('icon-house', 'breadcrumbs__icon')
						= ' '
						+e.SPAN Главная
					+e.A.link.is-active(href='#!')
						+e.SPAN Оплата

				+e.bar-title
					+e.SPAN Быстро, удобно, надёжно!

			+e.in
				include components/_rubric-side
				+e.main
					+b.payment
						+e.in
							+e.col
								+e.title.title-lg ОПЛАТА ТОВАРОВ И УСЛУГ
								+e.P.descr Принимаем наличный и безналичный расчеты. Работаем по договорам с организациями. Для дистанционной оплаты заказов на опт - свяжитесь с нами.
							+e.col
								+e.UL.list
									+e.LI Наличными
										+icon('icon-mark', 'payment__list-icon')
									+e.LI Безналичными
										+icon('icon-mark', 'payment__list-icon')
									+e.LI По договорам
										+icon('icon-mark', 'payment__list-icon')
						+e.bg
							+e.bg-img(style='background-image: url(img/bg/payment.svg)')

					-
						var catMenu = {
						title: 'ЖДЁМ ВАШИХ ЗАКАЗОВ!',
						classMod: '_default'};
					include components/_category-menu

		- var benefitsClass = '_default'
		include components/_benefits
