---
title: Техно-принт
---
extends layouts/_layout

block content
	+b.MAIN.page._default
		+e.container.container
			+e.bar
				-
					var breadCrumbsList = [{text: 'Печать фотокниг и альбомов', active: 'is-active'}];
				include components/_breadcrumbs

				+e.bar-title._has-icon
					+e.SPAN Фотоальбомы. Печать, изготовление фотокниг
					+icon('icon-books_page', 'page__bar-title-icon')

			+e.in
				include components/_rubric-side
				+e.main
					+b.SECTION.sect
						+b.title-md ПРЕДСТАВЛЯЕМ ВАМ САМЫЕ ОРИГИНАЛЬНЫЕ ТЕХНОЛОГИЧЕСКИЕ НОВИНКИ И НОВОВВЕДЕНИЯ ПРОИЗВОДСТВА ФОТОКНИГ. МЫ ИСПОЛЬЗУЕМ 3D ОБЛОЖКИ С ГОЛОГРАФИЕЙ, ЗЕРКАЛЬНЫЕ ОБЛОЖКИ, КОЖАНЫЕ МАТЕРИАЛЫ.
						+b.P.sect-descr Выбор материалов для изготовления фотокниг у нас действительно хорош! По вашему желанию мы можем предложить несколько типов и видов внутренних страниц (пластик, картон различной толщины и цветов).  У нас есть своя, неповторимая технология изготовления обложек и самих фотокниг, альбомы будут выглядеть аккуратно и оригинально. В наших моделях все продумано, от размеров отступов, до реализации дизайнерских разворотов из специального картона.
						+b.benefits-list._default
							+e.title Какие возможности и выгоды вы получаете заказав фотокниги у нас?
							+e.UL
								+e.LI
									+e.STRONG - Макетирование фотокниги произведут профессиональные полиграфические дизайнеры,
									= ' '
									| с опытом работы от 5 лет.
								+e.LI
									+e.STRONG - У вас будет новейшая по технологии фотокнига,
									= ' '
									| разработки 2017 года, книги похожей которой нет сейчас ни у ваших знакомых, ни скорее всего у знакомых-знакомых.  Для этого используются современные голографические обложки, нецарапающиеся в ходе эксплуатации спец. покрытия от зарубежных поставщиков, невыгорающие чернила и многие другие приятные мелочи, незначительные на первый взгляд, но придающие очарование конечному продукту в итоговой сборке...
								+e.LI
									+e.STRONG - Возможность выбрать обложку заводского изготовления.
									= ' '
									| У нас налажены прямые поставки от производителей фотообложек с мировым именем. Новинки вы можете рассмотреть в каталоге. Это обложки из пластиков, варианты с никрустацией, со стразами, «под кожу», специальные свадебные варианты альбомов, на любой вкус! Девяносто процентов этих товаров не представлено другими конкурирующими организациями в сфере фотопечати и изготовления фотокниг...
								+e.LI
									+e.STRONG - Оригинальные выклейки форзацев из дизайнерского картона.
									= ' '
									| Так как мы изначально занимались полиграфическими услугами, переплётными работами, то постарались привнести технические наработки и в область производства фотокниг. Обратите внимание на возможность дизайнерских форзацев из специальных картонов. Это мягкие, матовые, глянцевые и ячеистые варианты. Есть зеркально-волокнистый вариант форзацев, тоже наше оригинальная находка редкого материала. Собрать коллекцию было не просто, но надеюсь что вы оцените итоговый результат работы.
								+e.LI
									+e.STRONG - При всех отличиях и вышеуказанных преимуществах технологий,  стоимость наших фотокниг не дороже,
									= ' '
									| а во многом и значительно дешевле стандартных предложений на рынке подобного рода услуг!
							+e.P.descr Ждём ваших заказов!

					+b.product
						+e.sect._has-filter._color
							+e.sect-title
								+icon('icon-cups', 'product__sect-icon')
								+e.SPAN Печать на кружках и посуде / Образцы наших работ
							+e.filter
								+e.BUTTON.filter-btn(type='button')
									+icon('icon-filter-down', 'product__filter-icon')
									= ' '
									+e.SPAN Цена
								+e.BUTTON.filter-btn(type='button')
									+icon('icon-filter-up', 'product__filter-icon')
									= ' '
									+e.SPAN Цена
								+e.BUTTON.filter-btn.is-active(type='button')
									+e.SPAN Лучшие
									= ' '
									+icon('icon-filter-best', 'product__filter-icon')
								+e.BUTTON.filter-btn(type='button')
									+icon('icon-filter-squares', 'product__filter-icon')
									= ' '
									+e.SPAN 20
								+e.BUTTON.filter-btn(type='button')
									+icon('icon-filter-squares', 'product__filter-icon')
									= ' '
									+e.SPAN 60
								+e.BUTTON.filter-btn(type='button')
									+icon('icon-filter-list', 'product__filter-icon')

						+e.examples._default
							+e.item
								+e.item-pic-wrap.js-product-item-pic
									+e.A(href='#!').item-pic.decor
										+e.IMG.item-img(src="img/content/prod-11.jpg")
										.decor__line
									+e.A.zoom(href='img/content/prod-3_lg.jpg' data-fancybox='product-1')
										+icon('icon-loupe','product__zoom-icon')
								+e.item-info
									+e.item-title Любая вышивка на  шевронной ткани, 7 цветов
										= ' '
									+e.item-descr Размер: 120х180мм
								+e.item-buy
									+e.A.buy-opt(href="#!") Опт. от
										= ' '
										+e.SPAN 240&nbsp;
										+icon('icon-ruble','product__val-icon')
									+e.BUTTON(type="button").cart-add
										+e.SPAN.price-current 400&nbsp;
											+icon('icon-ruble','product__val-icon')
							+e.item
								+e.item-pic-wrap.js-product-item-pic
									+e.A(href='#!').item-pic.decor
										+e.IMG.item-img(src="img/content/prod-12.jpg")
										.decor__line
									+e.A.zoom(href='img/content/prod-3_lg.jpg' data-fancybox='product-1')
										+icon('icon-loupe','product__zoom-icon')
								+e.item-info
									+e.item-title Любая вышивка на  полотенце, под  «Золото».
									+e.item-descr Размер: 250х100 мм
								+e.item-buy
									+e.A.buy-opt(href="#!") Опт. от
										= ' '
										+e.SPAN 140&nbsp;
										+icon('icon-ruble','product__val-icon')
									+e.BUTTON(type="button").cart-add
										+e.SPAN.price-current 400&nbsp;
											+icon('icon-ruble','product__val-icon')
							+e.item
								+e.item-pic-wrap.js-product-item-pic
									+e.A(href='#!').item-pic.decor
										+e.IMG.item-img(src="img/content/prod-10.jpg")
										.decor__line
									+e.A.zoom(href='img/content/prod-3_lg.jpg' data-fancybox='product-1')
										+icon('icon-loupe','product__zoom-icon')
								+e.item-info
									+e.item-title Полотенце -зайчик!
										= ' '
									+e.item-descr Услуга - сворачивание полотенец в виде  зайчиков, для подарка.
								+e.item-buy
									+e.BUTTON(type="button").cart-add
										+e.SPAN.price-current 150&nbsp;
											+icon('icon-ruble','product__val-icon')
							+e.item
								+e.item-pic-wrap.js-product-item-pic
									+e.A(href='#!').item-pic.decor
										+e.IMG.item-img(src="img/content/prod-11.jpg")
										.decor__line
									+e.A.zoom(href='img/content/prod-3_lg.jpg' data-fancybox='product-1')
										+icon('icon-loupe','product__zoom-icon')
								+e.item-info
									+e.item-title Любая вышивка на  шевронной ткани, 7 цветов
										= ' '
									+e.item-descr Размер: 120х180мм
								+e.item-buy
									+e.A.buy-opt(href="#!") Опт. от
										= ' '
										+e.SPAN 240&nbsp;
										+icon('icon-ruble','product__val-icon')
									+e.BUTTON(type="button").cart-add
										+e.SPAN.price-current 400&nbsp;
											+icon('icon-ruble','product__val-icon')
							+e.item
								+e.item-pic-wrap.js-product-item-pic
									+e.A(href='#!').item-pic.decor
										+e.IMG.item-img(src="img/content/prod-11.jpg")
										.decor__line
									+e.A.zoom(href='img/content/prod-3_lg.jpg' data-fancybox='product-1')
										+icon('icon-loupe','product__zoom-icon')
								+e.item-info
									+e.item-title Любая вышивка на  шевронной ткани, 7 цветов
										= ' '
									+e.item-descr Размер: 120х180мм
								+e.item-buy
									+e.A.buy-opt(href="#!") Опт. от
										= ' '
										+e.SPAN 240&nbsp;
										+icon('icon-ruble','product__val-icon')
									+e.BUTTON(type="button").cart-add
										+e.SPAN.price-current 400&nbsp;
											+icon('icon-ruble','product__val-icon')
							+e.item
								+e.item-pic-wrap.js-product-item-pic
									+e.A(href='#!').item-pic.decor
										+e.IMG.item-img(src="img/content/prod-12.jpg")
										.decor__line
									+e.A.zoom(href='img/content/prod-3_lg.jpg' data-fancybox='product-1')
										+icon('icon-loupe','product__zoom-icon')
								+e.item-info
									+e.item-title Любая вышивка на  полотенце, под  «Золото».
									+e.item-descr Размер: 250х100 мм
								+e.item-buy
									+e.A.buy-opt(href="#!") Опт. от
										= ' '
										+e.SPAN 140&nbsp;
										+icon('icon-ruble','product__val-icon')
									+e.BUTTON(type="button").cart-add
										+e.SPAN.price-current 400&nbsp;
											+icon('icon-ruble','product__val-icon')
							+e.item
								+e.item-pic-wrap.js-product-item-pic
									+e.A(href='#!').item-pic.decor
										+e.IMG.item-img(src="img/content/prod-10.jpg")
										.decor__line
									+e.A.zoom(href='img/content/prod-3_lg.jpg' data-fancybox='product-1')
										+icon('icon-loupe','product__zoom-icon')
								+e.item-info
									+e.item-title Полотенце -зайчик!
										= ' '
									+e.item-descr Услуга - сворачивание полотенец в виде  зайчиков, для подарка.
								+e.item-buy
									+e.BUTTON(type="button").cart-add
										+e.SPAN.price-current 150&nbsp;
											+icon('icon-ruble','product__val-icon')
							+e.item
								+e.item-pic-wrap.js-product-item-pic
									+e.A(href='#!').item-pic.decor
										+e.IMG.item-img(src="img/content/prod-11.jpg")
										.decor__line
									+e.A.zoom(href='img/content/prod-3_lg.jpg' data-fancybox='product-1')
										+icon('icon-loupe','product__zoom-icon')
								+e.item-info
									+e.item-title Любая вышивка на  шевронной ткани, 7 цветов
										= ' '
									+e.item-descr Размер: 120х180мм
								+e.item-buy
									+e.A.buy-opt(href="#!") Опт. от
										= ' '
										+e.SPAN 240&nbsp;
										+icon('icon-ruble','product__val-icon')
									+e.BUTTON(type="button").cart-add
										+e.SPAN.price-current 400&nbsp;
											+icon('icon-ruble','product__val-icon')
							+e.item
								+e.item-pic-wrap.js-product-item-pic
									+e.A(href='#!').item-pic.decor
										+e.IMG.item-img(src="img/content/prod-11.jpg")
										.decor__line
									+e.A.zoom(href='img/content/prod-3_lg.jpg' data-fancybox='product-1')
										+icon('icon-loupe','product__zoom-icon')
								+e.item-info
									+e.item-title Любая вышивка на  шевронной ткани, 7 цветов
										= ' '
									+e.item-descr Размер: 120х180мм
								+e.item-buy
									+e.A.buy-opt(href="#!") Опт. от
										= ' '
										+e.SPAN 240&nbsp;
										+icon('icon-ruble','product__val-icon')
									+e.BUTTON(type="button").cart-add
										+e.SPAN.price-current 400&nbsp;
											+icon('icon-ruble','product__val-icon')
							+e.item
								+e.item-pic-wrap.js-product-item-pic
									+e.A(href='#!').item-pic.decor
										+e.IMG.item-img(src="img/content/prod-11.jpg")
										.decor__line
									+e.A.zoom(href='img/content/prod-3_lg.jpg' data-fancybox='product-1')
										+icon('icon-loupe','product__zoom-icon')
								+e.item-info
									+e.item-title Любая вышивка на  полотенце, под  «Золото».
									+e.item-descr Размер: 250х100 мм
								+e.item-buy
									+e.A.buy-opt(href="#!") Опт. от
										= ' '
										+e.SPAN 140&nbsp;
										+icon('icon-ruble','product__val-icon')
									+e.BUTTON(type="button").cart-add
										+e.SPAN.price-current 400&nbsp;
											+icon('icon-ruble','product__val-icon')
							+e.item
								+e.item-pic-wrap.js-product-item-pic
									+e.A(href='#!').item-pic.decor
										+e.IMG.item-img(src="img/content/prod-11.jpg")
										.decor__line
									+e.A.zoom(href='img/content/prod-3_lg.jpg' data-fancybox='product-1')
										+icon('icon-loupe','product__zoom-icon')
								+e.item-info
									+e.item-title Полотенце -зайчик!
										= ' '
									+e.item-descr Услуга - сворачивание полотенец в виде  зайчиков, для подарка.
								+e.item-buy
									+e.BUTTON(type="button").cart-add
										+e.SPAN.price-current 150&nbsp;
											+icon('icon-ruble','product__val-icon')
							+e.item
								+e.item-pic-wrap.js-product-item-pic
									+e.A(href='#!').item-pic.decor
										+e.IMG.item-img(src="img/content/prod-11.jpg")
										.decor__line
									+e.A.zoom(href='img/content/prod-3_lg.jpg' data-fancybox='product-1')
										+icon('icon-loupe','product__zoom-icon')
								+e.item-info
									+e.item-title Любая вышивка на  шевронной ткани, 7 цветов
										= ' '
									+e.item-descr Размер: 120х180мм
								+e.item-buy
									+e.A.buy-opt(href="#!") Опт. от
										= ' '
										+e.SPAN 240&nbsp;
										+icon('icon-ruble','product__val-icon')
									+e.BUTTON(type="button").cart-add
										+e.SPAN.price-current 400&nbsp;
											+icon('icon-ruble','product__val-icon')


						+b.pagination._product
							+e.UL.list
								+e.list-item._prev
									+e.list-link(href='#!')
										+icon('icon-arr-page', 'pagination__icon-arr')
								+e.list-item.is-active
									+e.list-link(href='#!') 1
								+e.list-item
									+e.list-link(href='#!') 2
								+e.list-item
									+e.list-link(href='#!') 3
								+e.list-item
									+e.list-link(href='#!') 4
								+e.list-item
									+e.list-link(href='#!') 5
								+e.list-item._dots
									+e.list-link(href='#!') ...
								+e.list-item
									+e.list-link(href='#!') 12
								+e.list-item._next
									+e.list-link(href='#!') Следующая

					-
						var catMenu = {
						title: 'ЖДЁМ ВАШИХ ЗАКАЗОВ!',
						classMod: '_default'};
					include components/_category-menu

		- var benefitsClass = '_default'
		include components/_benefits
