---
title: Техно-принт
---
extends layouts/_layout

block content
	+b.MAIN.page._default
		+e.container.container
			+e.bar
				+b.breadcrumbs
					+e.A.link(href='#!')
						+icon('icon-house', 'breadcrumbs__icon')
						= ' '
						+e.SPAN Главная
					+e.A.link.is-active(href='#!')
						+e.SPAN Печать картин, багетное оформление

				+e.bar-title._has-icon
					+e.SPAN Холсты, модульные картины и багет
					+icon('icon-pictures', 'page__bar-title-icon')

			+e.in
				include components/_rubric-side
				+e.main
					+b.SECTION.pictures
						+e.title.title-md Печать фото на холсте, оформление в подрамники и багет, каталог картин художников, акция на изготовление картин!
						+e.P.descr Печать на холстах как и широкоформатная печать является основным видом нашей деятельности! Мы печатаем водными, пигментными и сольвентными чернилами, на Ваш выбор. Всегда в наличии представлено около двадцати видов материалов для печати, у нас найдется всё широкоформатное, рекламное и большое-красивое. Интерьерная печать на холстах представлена отдельной технологией  с натяжкой на деревянную основу - подрамники.  Кроме самой печати представлены  современные и оригинальные решения в области производства эффектных картин для домашних и офисных интерьеров, читайте о них далее...
						+e.pics
							+e.pics-item
								+e.IMG(src='img/content/pictures-1.jpg')
								+e.pics-label Фото из &laquo;фотографий&raquo;
							+e.pics-item
								+e.IMG(src='img/content/pictures-2.jpg')
								+e.pics-label Картины художников
							+e.pics-item
								+e.IMG(src='img/content/pictures-3.jpg')
								+e.pics-label._right Оформление в багет
						+e.benefits
							+e.benefits-title Какие преимущества вы сможете получить заказав печать холстов и подрамников  у нас?
							+e.UL.benefits-list
								+e.LI
									+e.STRONG - Мы профессионально занимаемся широкоформатной печатью с 2005 года, рабочее оборудование позволяет печатать сольвентными невыгорающими на свету чернилами,
									= ' '
									| ваши картины будут долгосрочно используемыми достанутся далёким потомкам, не потеряют внешнего вида! Восьмицветный пигментный плоттер также не оставит равнодушными ценителей настенных интерьерных решений.
								+e.LI
									+e.STRONG - Мы одна из немногих печатающих фирм содержащая в своём подразделении багетную мастерскую.
									= ' '
									| Отпечатанные холсты можно не только натянуть на подрамники, но и оформить в красивый багет. На наших стендах размещено более шестисот образцов красивого багета, на самые изящные вкусы, для любых заказчиков. Опыт в обрамлении картин багетом позволяет качественно исполнить любой подрамник, которые популярны и распространены сейчас повсеместно и стали предлагаться не только багетными мастерскими. Для производства картин на подрамниках у нас существуют собственные оригинальные решения!
								+e.LI
									+e.STRONG - Возможность выбрать картины из каталога на сайте и заказать поиск.
									= ' '
									| Просмотрите предложенные варианты интерьерных решений картин на нашем сайте. Поиск любой картинки на заказ, пришлите запрос и мы вышлем вам дополнительные каталоги!
								+e.LI
									+e.STRONG - Мы не экономим на мелочах и вы получите качественную картину на прочной - максимально подходящей деревянной рейке подрамника.
									= ' '
									| На картине сзади будут качественные полноценные подвесы и специальная декоративная проволочка (на выбор возможны и другие варианты крепления).

					+b.product
						+e.sect._has-filter._color
							+e.sect-title
								+icon('icon-pictures', 'product__sect-icon')
								+e.SPAN Печать картин / Образцы наших работ
							+e.filter
								+e.BUTTON.filter-btn(type='button')
									+icon('icon-filter-down', 'product__filter-icon')
									= ' '
									+e.SPAN Цена
								+e.BUTTON.filter-btn(type='button')
									+icon('icon-filter-up', 'product__filter-icon')
									= ' '
									+e.SPAN Цена
								+e.BUTTON.filter-btn.is-active(type='button')
									+e.SPAN Лучшие
									= ' '
									+icon('icon-filter-best', 'product__filter-icon')
								+e.BUTTON.filter-btn(type='button')
									+icon('icon-filter-squares', 'product__filter-icon')
									= ' '
									+e.SPAN 20
								+e.BUTTON.filter-btn(type='button')
									+icon('icon-filter-squares', 'product__filter-icon')
									= ' '
									+e.SPAN 60
								+e.BUTTON.filter-btn(type='button')
									+icon('icon-filter-list', 'product__filter-icon')

						+e.examples._default
							+e.item
								+e.item-pic-wrap.js-product-item-pic
									+e.A(href='#!').item-pic.decor
										+e.IMG.item-img(src="img/content/prod-11.jpg")
										.decor__line
									+e.A.zoom(href='img/content/prod-3_lg.jpg' data-fancybox='product-1')
										+icon('icon-loupe','product__zoom-icon')
								+e.item-info
									+e.item-title Любая вышивка на  шевронной ткани, 7 цветов
										= ' '
									+e.item-descr Размер: 120х180мм
								+e.item-buy
									+e.A.buy-opt(href="#!") Опт. от
										= ' '
										+e.SPAN 240&nbsp;
										+icon('icon-ruble','product__val-icon')
									+e.BUTTON(type="button").cart-add
										+e.SPAN.price-current 400&nbsp;
											+icon('icon-ruble','product__val-icon')
							+e.item
								+e.item-pic-wrap.js-product-item-pic
									+e.A(href='#!').item-pic.decor
										+e.IMG.item-img(src="img/content/prod-12.jpg")
										.decor__line
									+e.A.zoom(href='img/content/prod-3_lg.jpg' data-fancybox='product-1')
										+icon('icon-loupe','product__zoom-icon')
								+e.item-info
									+e.item-title Любая вышивка на  полотенце, под  «Золото».
									+e.item-descr Размер: 250х100 мм
								+e.item-buy
									+e.A.buy-opt(href="#!") Опт. от
										= ' '
										+e.SPAN 140&nbsp;
										+icon('icon-ruble','product__val-icon')
									+e.BUTTON(type="button").cart-add
										+e.SPAN.price-current 400&nbsp;
											+icon('icon-ruble','product__val-icon')
							+e.item
								+e.item-pic-wrap.js-product-item-pic
									+e.A(href='#!').item-pic.decor
										+e.IMG.item-img(src="img/content/prod-10.jpg")
										.decor__line
									+e.A.zoom(href='img/content/prod-3_lg.jpg' data-fancybox='product-1')
										+icon('icon-loupe','product__zoom-icon')
								+e.item-info
									+e.item-title Полотенце -зайчик!
										= ' '
									+e.item-descr Услуга - сворачивание полотенец в виде  зайчиков, для подарка.
								+e.item-buy
									+e.BUTTON(type="button").cart-add
										+e.SPAN.price-current 150&nbsp;
											+icon('icon-ruble','product__val-icon')
							+e.item
								+e.item-pic-wrap.js-product-item-pic
									+e.A(href='#!').item-pic.decor
										+e.IMG.item-img(src="img/content/prod-11.jpg")
										.decor__line
									+e.A.zoom(href='img/content/prod-3_lg.jpg' data-fancybox='product-1')
										+icon('icon-loupe','product__zoom-icon')
								+e.item-info
									+e.item-title Любая вышивка на  шевронной ткани, 7 цветов
										= ' '
									+e.item-descr Размер: 120х180мм
								+e.item-buy
									+e.A.buy-opt(href="#!") Опт. от
										= ' '
										+e.SPAN 240&nbsp;
										+icon('icon-ruble','product__val-icon')
									+e.BUTTON(type="button").cart-add
										+e.SPAN.price-current 400&nbsp;
											+icon('icon-ruble','product__val-icon')
							+e.item
								+e.item-pic-wrap.js-product-item-pic
									+e.A(href='#!').item-pic.decor
										+e.IMG.item-img(src="img/content/prod-11.jpg")
										.decor__line
									+e.A.zoom(href='img/content/prod-3_lg.jpg' data-fancybox='product-1')
										+icon('icon-loupe','product__zoom-icon')
								+e.item-info
									+e.item-title Любая вышивка на  шевронной ткани, 7 цветов
										= ' '
									+e.item-descr Размер: 120х180мм
								+e.item-buy
									+e.A.buy-opt(href="#!") Опт. от
										= ' '
										+e.SPAN 240&nbsp;
										+icon('icon-ruble','product__val-icon')
									+e.BUTTON(type="button").cart-add
										+e.SPAN.price-current 400&nbsp;
											+icon('icon-ruble','product__val-icon')
							+e.item
								+e.item-pic-wrap.js-product-item-pic
									+e.A(href='#!').item-pic.decor
										+e.IMG.item-img(src="img/content/prod-12.jpg")
										.decor__line
									+e.A.zoom(href='img/content/prod-3_lg.jpg' data-fancybox='product-1')
										+icon('icon-loupe','product__zoom-icon')
								+e.item-info
									+e.item-title Любая вышивка на  полотенце, под  «Золото».
									+e.item-descr Размер: 250х100 мм
								+e.item-buy
									+e.A.buy-opt(href="#!") Опт. от
										= ' '
										+e.SPAN 140&nbsp;
										+icon('icon-ruble','product__val-icon')
									+e.BUTTON(type="button").cart-add
										+e.SPAN.price-current 400&nbsp;
											+icon('icon-ruble','product__val-icon')
							+e.item
								+e.item-pic-wrap.js-product-item-pic
									+e.A(href='#!').item-pic.decor
										+e.IMG.item-img(src="img/content/prod-10.jpg")
										.decor__line
									+e.A.zoom(href='img/content/prod-3_lg.jpg' data-fancybox='product-1')
										+icon('icon-loupe','product__zoom-icon')
								+e.item-info
									+e.item-title Полотенце -зайчик!
										= ' '
									+e.item-descr Услуга - сворачивание полотенец в виде  зайчиков, для подарка.
								+e.item-buy
									+e.BUTTON(type="button").cart-add
										+e.SPAN.price-current 150&nbsp;
											+icon('icon-ruble','product__val-icon')
							+e.item
								+e.item-pic-wrap.js-product-item-pic
									+e.A(href='#!').item-pic.decor
										+e.IMG.item-img(src="img/content/prod-11.jpg")
										.decor__line
									+e.A.zoom(href='img/content/prod-3_lg.jpg' data-fancybox='product-1')
										+icon('icon-loupe','product__zoom-icon')
								+e.item-info
									+e.item-title Любая вышивка на  шевронной ткани, 7 цветов
										= ' '
									+e.item-descr Размер: 120х180мм
								+e.item-buy
									+e.A.buy-opt(href="#!") Опт. от
										= ' '
										+e.SPAN 240&nbsp;
										+icon('icon-ruble','product__val-icon')
									+e.BUTTON(type="button").cart-add
										+e.SPAN.price-current 400&nbsp;
											+icon('icon-ruble','product__val-icon')
							+e.item
								+e.item-pic-wrap.js-product-item-pic
									+e.A(href='#!').item-pic.decor
										+e.IMG.item-img(src="img/content/prod-11.jpg")
										.decor__line
									+e.A.zoom(href='img/content/prod-3_lg.jpg' data-fancybox='product-1')
										+icon('icon-loupe','product__zoom-icon')
								+e.item-info
									+e.item-title Любая вышивка на  шевронной ткани, 7 цветов
										= ' '
									+e.item-descr Размер: 120х180мм
								+e.item-buy
									+e.A.buy-opt(href="#!") Опт. от
										= ' '
										+e.SPAN 240&nbsp;
										+icon('icon-ruble','product__val-icon')
									+e.BUTTON(type="button").cart-add
										+e.SPAN.price-current 400&nbsp;
											+icon('icon-ruble','product__val-icon')
							+e.item
								+e.item-pic-wrap.js-product-item-pic
									+e.A(href='#!').item-pic.decor
										+e.IMG.item-img(src="img/content/prod-11.jpg")
										.decor__line
									+e.A.zoom(href='img/content/prod-3_lg.jpg' data-fancybox='product-1')
										+icon('icon-loupe','product__zoom-icon')
								+e.item-info
									+e.item-title Любая вышивка на  полотенце, под  «Золото».
									+e.item-descr Размер: 250х100 мм
								+e.item-buy
									+e.A.buy-opt(href="#!") Опт. от
										= ' '
										+e.SPAN 140&nbsp;
										+icon('icon-ruble','product__val-icon')
									+e.BUTTON(type="button").cart-add
										+e.SPAN.price-current 400&nbsp;
											+icon('icon-ruble','product__val-icon')
							+e.item
								+e.item-pic-wrap.js-product-item-pic
									+e.A(href='#!').item-pic.decor
										+e.IMG.item-img(src="img/content/prod-11.jpg")
										.decor__line
									+e.A.zoom(href='img/content/prod-3_lg.jpg' data-fancybox='product-1')
										+icon('icon-loupe','product__zoom-icon')
								+e.item-info
									+e.item-title Полотенце -зайчик!
										= ' '
									+e.item-descr Услуга - сворачивание полотенец в виде  зайчиков, для подарка.
								+e.item-buy
									+e.BUTTON(type="button").cart-add
										+e.SPAN.price-current 150&nbsp;
											+icon('icon-ruble','product__val-icon')
							+e.item
								+e.item-pic-wrap.js-product-item-pic
									+e.A(href='#!').item-pic.decor
										+e.IMG.item-img(src="img/content/prod-11.jpg")
										.decor__line
									+e.A.zoom(href='img/content/prod-3_lg.jpg' data-fancybox='product-1')
										+icon('icon-loupe','product__zoom-icon')
								+e.item-info
									+e.item-title Любая вышивка на  шевронной ткани, 7 цветов
										= ' '
									+e.item-descr Размер: 120х180мм
								+e.item-buy
									+e.A.buy-opt(href="#!") Опт. от
										= ' '
										+e.SPAN 240&nbsp;
										+icon('icon-ruble','product__val-icon')
									+e.BUTTON(type="button").cart-add
										+e.SPAN.price-current 400&nbsp;
											+icon('icon-ruble','product__val-icon')


						+b.pagination._product
							+e.UL.list
								+e.list-item._prev
									+e.list-link(href='#!')
										+icon('icon-arr-page', 'pagination__icon-arr')
								+e.list-item.is-active
									+e.list-link(href='#!') 1
								+e.list-item
									+e.list-link(href='#!') 2
								+e.list-item
									+e.list-link(href='#!') 3
								+e.list-item
									+e.list-link(href='#!') 4
								+e.list-item
									+e.list-link(href='#!') 5
								+e.list-item._dots
									+e.list-link(href='#!') ...
								+e.list-item
									+e.list-link(href='#!') 12
								+e.list-item._next
									+e.list-link(href='#!') Следующая

					-
						var catMenu = {
						title: 'ЖДЁМ ВАШИХ ЗАКАЗОВ!',
						classMod: '_default'};
					include components/_category-menu

		- var benefitsClass = '_default'
		include components/_benefits
