---
title: Техно-принт
---
extends layouts/_layout

block content
	+b.MAIN.page._default
		+e.container.container
			+e.bar
				-
					var breadCrumbsList = [{text: 'Услуги фирмы'}, {text: 'Изготовление подарков', active: 'is-active'}];
				include components/_breadcrumbs

				+e.bar-title._has-icon
					+e.SPAN Выбор вариантов подарков
					+icon('icon-presents', 'page__bar-title-icon')

			+e.in
				include components/_rubric-side
				+e.main
					+b.SECTION.sect
						+b.title-md ВЫ ЗАДУМЫВАЕТЕСЬ ЧТО ПОДАРИТЬ? ИЗГОТОВЛЕНИЕ ПОДАРКОВ ДЛЯ БЛИЗКИХ И КОРПОРАТИВНЫЕ
						+b.P.sect-descr Если вы рассматриваете варианты подарков для близких, сотрудникам организации или клиентам, то у нас есть хорошие предложения для вас и новые идеи! Мы разработали этот раздел для удобства выбора подарков, собрали наиболее интересные идеи и разместили их здесь, в карточках товара.
						+b.benefits-list._default
							+e.title Какие возможности есть у нас для изготовления подарков и самые популярные направления?
							+e.UL
								+e.LI
									+e.STRONG - Печать на кружках, бокалах и другой посуде.
									= ' '
									| У нас большое количество готовых эскизов дизайна и заготовок, принимаем любой ваш макет к печати с возможностиями доработки. Корректируем по цветам, делаем бесплатное 3Д предпросмотр макетов.
								+e.LI
									+e.STRONG - Вышивка для личных вещей и фирменных подарков.
									= ' '
									| На сегодняшний день это довольно редкая, но интересная услуга! Есть варианты новинок дизайна и совершенно «незаезженных» подарков.  Вышивка оказывается зачастую именно тем, что ещё не дарили, чем не успели удивить раньше и что может быть полезным в повседневной жизни!
								+e.LI
									+e.STRONG - Печать на холсте и натяжка на подрамники ваших фотографий.
									= ' '
									| Можно сделать обрамление фотографий в багет, изготовить картины для интерьера из каталога. У нас вы получите высокое, проверенное качество, полное совпадение по цветам и незначительным оттенкам любых фотографий. Есть услуга модной «мозаичной фотографии». Также предлагаем печать модульных картинных блоков, плакатов, панно.
								+e.LI
									+e.STRONG - Подарком может быть печать на любой одежде. В наличии майки, футболки и бейсболки всех цветов.
									= ' '
									| Идей вариантов может быть великое множество, начиная от простой фотографии с совместного отдыха, до разработки красивого коллажа или заготовленного оригинального рисунка.
								+e.LI
									+e.STRONG - Подарки в виде значков, брелков для ключей, фотомагнитов, открывашек, номерков ГосНомер.
									= ' '
									| Для самого редкого подарка-сувенира - найдутся редкие виды заготовок и идей. Это карманные зеркальца, ключники с зеркалами, брелки любовные, значки на магнитах, рассмотрите варианты.
								+e.LI
									+e.STRONG - Фотокнига-подарок.
									= ' '
									| Интересные варианты сборки фотокниг, предлагаем собственные наработки и неповторимую «манеру» изготовления. Наши фотокниги отличаются технологичностью и новизной технических решений в этой области. Начиная с голографической обложки и заканчивая дизайнерскими картонами при выклейке форзацев.
								+e.LI
									+e.STRONG - Идеи и подарки из воздушных шаров с гелием.
									= ' '
									| Услуга только для г. Самара. Выбор вариантов подарка связанного с воздушными гелиевыми шариками, креативные решения.
							+e.P.descr Мы готовы к сотрудничеству и реализации поставленных вами задач, ждём ваших заказов!

					+b.product
						+e.sect._has-filter._color
							+e.sect-title
								//+icon('icon-cups', 'product__sect-icon')
								//+e.SPAN Печать на кружках и посуде / Образцы наших работ
							+e.filter
								+e.BUTTON.filter-btn(type='button')
									+icon('icon-filter-down', 'product__filter-icon')
									= ' '
									+e.SPAN Цена
								+e.BUTTON.filter-btn(type='button')
									+icon('icon-filter-up', 'product__filter-icon')
									= ' '
									+e.SPAN Цена
								+e.BUTTON.filter-btn.is-active(type='button')
									+e.SPAN Лучшие
									= ' '
									+icon('icon-filter-best', 'product__filter-icon')
								+e.BUTTON.filter-btn(type='button')
									+icon('icon-filter-squares', 'product__filter-icon')
									= ' '
									+e.SPAN 20
								+e.BUTTON.filter-btn(type='button')
									+icon('icon-filter-squares', 'product__filter-icon')
									= ' '
									+e.SPAN 60h
								+e.BUTTON.filter-btn(type='button')
									+icon('icon-filter-list', 'product__filter-icon')

						+e.examples._default
							+e.item
								+e.item-pic-wrap.js-product-item-pic
									+e.A(href='#!').item-pic.decor
										+e.IMG.item-img(src="img/content/prod-11.jpg")
										.decor__line
									+e.A.zoom(href='img/content/prod-3_lg.jpg' data-fancybox='product-1')
										+icon('icon-loupe','product__zoom-icon')
								+e.item-info
									+e.item-title Любая вышивка на  шевронной ткани, 7 цветов
										= ' '
									+e.item-descr Размер: 120х180мм
								+e.item-buy
									+e.A.buy-opt(href="#!") Опт. от
										= ' '
										+e.SPAN 240&nbsp;
										+icon('icon-ruble','product__val-icon')
									+e.BUTTON(type="button").cart-add
										+e.SPAN.price-current 400&nbsp;
											+icon('icon-ruble','product__val-icon')
							+e.item
								+e.item-pic-wrap.js-product-item-pic
									+e.A(href='#!').item-pic.decor
										+e.IMG.item-img(src="img/content/prod-12.jpg")
										.decor__line
									+e.A.zoom(href='img/content/prod-3_lg.jpg' data-fancybox='product-1')
										+icon('icon-loupe','product__zoom-icon')
								+e.item-info
									+e.item-title Любая вышивка на  полотенце, под  «Золото».
									+e.item-descr Размер: 250х100 мм
								+e.item-buy
									+e.A.buy-opt(href="#!") Опт. от
										= ' '
										+e.SPAN 140&nbsp;
										+icon('icon-ruble','product__val-icon')
									+e.BUTTON(type="button").cart-add
										+e.SPAN.price-current 400&nbsp;
											+icon('icon-ruble','product__val-icon')
							+e.item
								+e.item-pic-wrap.js-product-item-pic
									+e.A(href='#!').item-pic.decor
										+e.IMG.item-img(src="img/content/prod-10.jpg")
										.decor__line
									+e.A.zoom(href='img/content/prod-3_lg.jpg' data-fancybox='product-1')
										+icon('icon-loupe','product__zoom-icon')
								+e.item-info
									+e.item-title Полотенце -зайчик!
										= ' '
									+e.item-descr Услуга - сворачивание полотенец в виде  зайчиков, для подарка.
								+e.item-buy
									+e.BUTTON(type="button").cart-add
										+e.SPAN.price-current 150&nbsp;
											+icon('icon-ruble','product__val-icon')
							+e.item
								+e.item-pic-wrap.js-product-item-pic
									+e.A(href='#!').item-pic.decor
										+e.IMG.item-img(src="img/content/prod-11.jpg")
										.decor__line
									+e.A.zoom(href='img/content/prod-3_lg.jpg' data-fancybox='product-1')
										+icon('icon-loupe','product__zoom-icon')
								+e.item-info
									+e.item-title Любая вышивка на  шевронной ткани, 7 цветов
										= ' '
									+e.item-descr Размер: 120х180мм
								+e.item-buy
									+e.A.buy-opt(href="#!") Опт. от
										= ' '
										+e.SPAN 240&nbsp;
										+icon('icon-ruble','product__val-icon')
									+e.BUTTON(type="button").cart-add
										+e.SPAN.price-current 400&nbsp;
											+icon('icon-ruble','product__val-icon')
							+e.item
								+e.item-pic-wrap.js-product-item-pic
									+e.A(href='#!').item-pic.decor
										+e.IMG.item-img(src="img/content/prod-11.jpg")
										.decor__line
									+e.A.zoom(href='img/content/prod-3_lg.jpg' data-fancybox='product-1')
										+icon('icon-loupe','product__zoom-icon')
								+e.item-info
									+e.item-title Любая вышивка на  шевронной ткани, 7 цветов
										= ' '
									+e.item-descr Размер: 120х180мм
								+e.item-buy
									+e.A.buy-opt(href="#!") Опт. от
										= ' '
										+e.SPAN 240&nbsp;
										+icon('icon-ruble','product__val-icon')
									+e.BUTTON(type="button").cart-add
										+e.SPAN.price-current 400&nbsp;
											+icon('icon-ruble','product__val-icon')
							+e.item
								+e.item-pic-wrap.js-product-item-pic
									+e.A(href='#!').item-pic.decor
										+e.IMG.item-img(src="img/content/prod-12.jpg")
										.decor__line
									+e.A.zoom(href='img/content/prod-3_lg.jpg' data-fancybox='product-1')
										+icon('icon-loupe','product__zoom-icon')
								+e.item-info
									+e.item-title Любая вышивка на  полотенце, под  «Золото».
									+e.item-descr Размер: 250х100 мм
								+e.item-buy
									+e.A.buy-opt(href="#!") Опт. от
										= ' '
										+e.SPAN 140&nbsp;
										+icon('icon-ruble','product__val-icon')
									+e.BUTTON(type="button").cart-add
										+e.SPAN.price-current 400&nbsp;
											+icon('icon-ruble','product__val-icon')
							+e.item
								+e.item-pic-wrap.js-product-item-pic
									+e.A(href='#!').item-pic.decor
										+e.IMG.item-img(src="img/content/prod-10.jpg")
										.decor__line
									+e.A.zoom(href='img/content/prod-3_lg.jpg' data-fancybox='product-1')
										+icon('icon-loupe','product__zoom-icon')
								+e.item-info
									+e.item-title Полотенце -зайчик!
										= ' '
									+e.item-descr Услуга - сворачивание полотенец в виде  зайчиков, для подарка.
								+e.item-buy
									+e.BUTTON(type="button").cart-add
										+e.SPAN.price-current 150&nbsp;
											+icon('icon-ruble','product__val-icon')
							+e.item
								+e.item-pic-wrap.js-product-item-pic
									+e.A(href='#!').item-pic.decor
										+e.IMG.item-img(src="img/content/prod-11.jpg")
										.decor__line
									+e.A.zoom(href='img/content/prod-3_lg.jpg' data-fancybox='product-1')
										+icon('icon-loupe','product__zoom-icon')
								+e.item-info
									+e.item-title Любая вышивка на  шевронной ткани, 7 цветов
										= ' '
									+e.item-descr Размер: 120х180мм
								+e.item-buy
									+e.A.buy-opt(href="#!") Опт. от
										= ' '
										+e.SPAN 240&nbsp;
										+icon('icon-ruble','product__val-icon')
									+e.BUTTON(type="button").cart-add
										+e.SPAN.price-current 400&nbsp;
											+icon('icon-ruble','product__val-icon')
							+e.item
								+e.item-pic-wrap.js-product-item-pic
									+e.A(href='#!').item-pic.decor
										+e.IMG.item-img(src="img/content/prod-11.jpg")
										.decor__line
									+e.A.zoom(href='img/content/prod-3_lg.jpg' data-fancybox='product-1')
										+icon('icon-loupe','product__zoom-icon')
								+e.item-info
									+e.item-title Любая вышивка на  шевронной ткани, 7 цветов
										= ' '
									+e.item-descr Размер: 120х180мм
								+e.item-buy
									+e.A.buy-opt(href="#!") Опт. от
										= ' '
										+e.SPAN 240&nbsp;
										+icon('icon-ruble','product__val-icon')
									+e.BUTTON(type="button").cart-add
										+e.SPAN.price-current 400&nbsp;
											+icon('icon-ruble','product__val-icon')
							+e.item
								+e.item-pic-wrap.js-product-item-pic
									+e.A(href='#!').item-pic.decor
										+e.IMG.item-img(src="img/content/prod-11.jpg")
										.decor__line
									+e.A.zoom(href='img/content/prod-3_lg.jpg' data-fancybox='product-1')
										+icon('icon-loupe','product__zoom-icon')
								+e.item-info
									+e.item-title Любая вышивка на  полотенце, под  «Золото».
									+e.item-descr Размер: 250х100 мм
								+e.item-buy
									+e.A.buy-opt(href="#!") Опт. от
										= ' '
										+e.SPAN 140&nbsp;
										+icon('icon-ruble','product__val-icon')
									+e.BUTTON(type="button").cart-add
										+e.SPAN.price-current 400&nbsp;
											+icon('icon-ruble','product__val-icon')
							+e.item
								+e.item-pic-wrap.js-product-item-pic
									+e.A(href='#!').item-pic.decor
										+e.IMG.item-img(src="img/content/prod-11.jpg")
										.decor__line
									+e.A.zoom(href='img/content/prod-3_lg.jpg' data-fancybox='product-1')
										+icon('icon-loupe','product__zoom-icon')
								+e.item-info
									+e.item-title Полотенце -зайчик!
										= ' '
									+e.item-descr Услуга - сворачивание полотенец в виде  зайчиков, для подарка.
								+e.item-buy
									+e.BUTTON(type="button").cart-add
										+e.SPAN.price-current 150&nbsp;
											+icon('icon-ruble','product__val-icon')
							+e.item
								+e.item-pic-wrap.js-product-item-pic
									+e.A(href='#!').item-pic.decor
										+e.IMG.item-img(src="img/content/prod-11.jpg")
										.decor__line
									+e.A.zoom(href='img/content/prod-3_lg.jpg' data-fancybox='product-1')
										+icon('icon-loupe','product__zoom-icon')
								+e.item-info
									+e.item-title Любая вышивка на  шевронной ткани, 7 цветов
										= ' '
									+e.item-descr Размер: 120х180мм
								+e.item-buy
									+e.A.buy-opt(href="#!") Опт. от
										= ' '
										+e.SPAN 240&nbsp;
										+icon('icon-ruble','product__val-icon')
									+e.BUTTON(type="button").cart-add
										+e.SPAN.price-current 400&nbsp;
											+icon('icon-ruble','product__val-icon')


						+b.pagination._product
							+e.UL.list
								+e.list-item._prev
									+e.list-link(href='#!')
										+icon('icon-arr-page', 'pagination__icon-arr')
								+e.list-item.is-active
									+e.list-link(href='#!') 1
								+e.list-item
									+e.list-link(href='#!') 2
								+e.list-item
									+e.list-link(href='#!') 3
								+e.list-item
									+e.list-link(href='#!') 4
								+e.list-item
									+e.list-link(href='#!') 5
								+e.list-item._dots
									+e.list-link(href='#!') ...
								+e.list-item
									+e.list-link(href='#!') 12
								+e.list-item._next
									+e.list-link(href='#!') Следующая

					-
						var catMenu = {
						title: 'ЖДЁМ ВАШИХ ЗАКАЗОВ!',
						classMod: '_default'};
					include components/_category-menu

		- var benefitsClass = '_default'
		include components/_benefits
