/* links
	----------------------------------- */
.link-decor
	color: #008CFF
	span
		padding-bottom: 3px
		background-image: linear-gradient(to right, #008CFF 33%, rgba(255, 255, 255, 0) 0%), linear-gradient(to left, #008CFF 16%, rgba(255, 255, 255, 0) 0%)
		background-size: 22px 2px, 6px 2px
		background-repeat: repeat-x
		background-position: bottom
	&:hover span
		color: #0051FF
		background-image: linear-gradient(to right, darken(#008CFF, 10) 33%, rgba(255, 255, 255, 0) 0%), linear-gradient(to left, darken(#008CFF, 10) 16%, rgba(255, 255, 255, 0) 0%)
	&_rubric
		line-height: 1.35
		span
			background-image: linear-gradient(to right, #B3B3B3 33%, rgba(255, 255, 255, 0) 0%), linear-gradient(to left, #B3B3B3 16%, rgba(255, 255, 255, 0) 0%)
		&:hover
			border-bottom-color: transparent!important
		&:hover span
			background-image: linear-gradient(to right, #0051FF 33%, rgba(255, 255, 255, 0) 0%), linear-gradient(to left, #0051FF 16%, rgba(255, 255, 255, 0) 0%)

.link-sale
	color: #FCBD7E
	font-size: 20px
	+trs
	span
		border-bottom: 2px dashed #FCBD7E
	&:hover span
		color: darken(#FCBD7E, 15)
		border-bottom-color: darken(#FCBD7E, 15)

/* about text
	----------------------------------- */
.about-text
	+md
		margin-bottom: 10px
	&__container
		max-width: 1500px
		+md
			max-width: 1200px
	&__title
		text-align: center
		margin-bottom: 20px
		font-size: 23px
		+lg
			font-size: 21px
		+md
			font-size: 18px
			margin-bottom: 10px
		+sm
			font-size: 16px
	&__descr
		line-height: (30/22)
		text-indent: 45px
		font-size: 20px
		+lg
			font-size: 19px
		+md
			font-size: 16px
		+sm
			font-size: 14px
			
// pic decor
.decor
	position: relative
	background-color: #F4F8FD
	&::after
		position: absolute
		z-index: 1
		right: 0
		bottom: 0
		content: ''
		width: 0
		height: 0
		border-style: solid
		border-width: 0 0 20px 20px
		border-color: transparent transparent #fff transparent
	&__line
		position: absolute
		left: 0
		bottom: -1px
		width: 87%
		height: 1px
		background-color: rgba(#DAE5EC, .65)
		align-self: flex-end
		&::before, &::after
			position: absolute
			z-index: 1
			bottom: 0
			content: ''
			transition: border-color .3s
		&::before
			right: -16px
			+arr(15,20, rgba(#000, .25),br)
		&::after
			right: -39px
			width: 0
			height: 0
			border-style: solid
			border-width: 22px 23px 0 0
			border-color: rgba(238, 244, 251, 0.9) transparent transparent transparent
			+sm
				right: -39px
		&_suggest
			width: 95%
	&_sm
		background-color: #D7DCE0
		&::after
			display: none
		.decor__line
			width: 85%
		.decor__line:after
			right: -20px
			border-width: 19px 19px 0 0
			background-color: #ececec
		.decor__line:before
			right: -1px
	
	&_xs
		&::after
			border-width: 0 0 20px 19px
			right: -2px
		.decor__line
			width: 80%
			bottom: 0
		.decor__line::after
			right: -26px
			border-width: 18px 18px 0 0
		.decor__line::before
			right: -8px
			border-width: 0 0 18px 13px
		

/* breadcrumbs
	----------------------------------- */
.breadcrumbs
	font-size: 0
	&__link
		display: inline-block
		vertical-align: middle
		font-size: 20px
		span
			display: inline-block
			vertical-align: middle
		&::after
			display: inline-block
			vertical-align: middle
			margin: 0 3px
			content: '/'
		&:last-child::after
			display: none
		&:hover
			color: $hover
		&.is-active
			pointer-events: none
	&__link:hover::after
		color: #000
	&__icon
		display: inline-block
		vertical-align: middle
		margin-right: 5px
		fill: #D0CFCF
		
/* page
	----------------------------------- */
.page
	&_default
		//padding: 35px 0 0
	&__bar
		position: relative
		display: flex
		justify-content: space-between
		align-items: center
		padding-left: 15px
		min-height: 46px
		background: #EBECEC
		&::after
			content: ''
			position: absolute
			bottom: -1px
			left: 5px
			right: 5px
			height: 1px
			background: #D1D1D1
			z-index: 1
		&-title
			padding: 8px 30px
			margin-left: auto
			background: #F3F3F3
			border-radius: 50px 0 0 50px
			min-width: 250px
			font-size: 21px
			text-align: center
			color: #333333
	&__in
		display: flex
		justify-content: space-between
		margin: 30px 0 0
	&__side
		width: 18.5%
	&__main
		display: flex
		flex-direction: column
		width: 80%
	
/* pagination
	----------------------------------- */
.pagination
	padding: 7px 0
	background: #F7F9FC
	font-size: 0
	&__list
		font-size: 0
		text-align: center
	&__list-item
		display: inline-block
		vertical-align: middle
		margin: 0 5px
		&_prev
			margin-right: 10px
			text-align: center
			.pagination__list-link
				padding: 0
				line-height: 39px
		&_dots
			margin: 0 10px
	&__list-item.is-active &__list-link
			background: #FFEBAB
	&__list-link
		display: inline-block
		font-size: 19px
		font-family: Arial, sans-serif
		color: #667FA6
		padding: 6px 12px
		border-radius: 5px
		height: 39px
		min-width: 38px
		&:hover
			background: #EDEDED
		&:active
			background: #C8D6E6
	&__list-link:hover &__icon-arr
		fill: lighten(#667FA6, 20)
	&__icon-arr
		display: inline-block
		vertical-align: middle
		fill: #EDEDED
		font-size: 27px
			
	&_product
		margin: 20px 0 45px
		
	&_watched
		margin: 30px 0
		background: none
		
	&_news
		margin-top: 25px

/* sub-menu
	----------------------------------- */
.category-menu
	position: relative
	&::after
		content: ''
		position: absolute
		bottom: -1px
		left: 5px
		right: 5px
		height: 1px
		background: #D1D1D1
		z-index: 1
	&__title
		margin-bottom: 40px
		text-align: center
		color: #274F7F
	&__list
		display: flex
	&__item
		flex: 1 0 auto
	&__link
		display: block
		padding: 15px 5px
		font-size: 19px
		background: #F7FAFF
		text-align: center
		+trs
		&:hover
			background: #E5F0FC
			
	&_default
		margin-top: auto
	&_basket, &_order
		max-width: 1400px
		margin: 50px auto 0

/* rating
	----------------------------------- */
.rating
	&__text
		margin-bottom: 3px
		color: #1C487A
	&__in
		display: flex
		flex-direction: row-reverse
		justify-content: center
	&__input
		display: none
	&__input ~ &__icon .rating__star
		fill: #DBDBDB
		stroke: #DBDBDB
	&__input:checked ~ &-icon .rating__star,
	&__input:checked &-icon .rating__star
		fill: #FFED00
		stroke: #FFED00
	&__icon:hover .rating__star,
	&__icon:hover ~ &__icon .rating__star
		fill: #C7CBCF
		stroke: #DBDBDB
	&__input:checked &__icon:hover .rating__star,
	&__input:checked ~ &__icon .rating__star
		fill: #FFED00
		stroke: #FFED00
	&__icon
		display: inline-block
		cursor: pointer
	&__star
		font-size: 23px
		
/* check
	----------------------------------- */
.check
	&__circle
		display: inline-block
		margin-left: 4px
		width: 24px
		height: 24px
		border: 2px solid #99AFCF
		border-radius: 50%
		text-align: center
		line-height: 20px
		&::after
			display: inline-block
			width: 14px
			height: 14px
			border-radius: 50%
			background: #768FAE
			content: ''
			transform: scale(.4)
			opacity: 0
			transition: .15s
	label
		font-size: 19px
		color: #000
		cursor: pointer
	input
		display: none
	input:checked + label .check__circle::after
		transform: scale(1)
		opacity: 1
