/* links
	----------------------------------- */
.link-decor
	color: #008CFF
	span
		padding-bottom: 3px
		background-image: linear-gradient(to right, #008CFF 33%, rgba(255, 255, 255, 0) 0%), linear-gradient(to left, #008CFF 16%, rgba(255, 255, 255, 0) 0%)
		background-size: 22px 2px, 6px 2px
		background-repeat: repeat-x
		background-position: bottom
	&:hover span
		color: #0051FF
		background-image: linear-gradient(to right, darken(#008CFF, 10) 33%, rgba(255, 255, 255, 0) 0%), linear-gradient(to left, darken(#008CFF, 10) 16%, rgba(255, 255, 255, 0) 0%)
	&_rubric
		line-height: 1.35
		span
			background-image: linear-gradient(to right, #B3B3B3 33%, rgba(255, 255, 255, 0) 0%), linear-gradient(to left, #B3B3B3 16%, rgba(255, 255, 255, 0) 0%)
		&:hover
			border-bottom-color: transparent!important
		&:hover span
			background-image: linear-gradient(to right, #0051FF 33%, rgba(255, 255, 255, 0) 0%), linear-gradient(to left, #0051FF 16%, rgba(255, 255, 255, 0) 0%)

.link-sale
	color: #FCBD7E
	font-size: 20px
	+trs
	span
		border-bottom: 2px dashed #FCBD7E
	&:hover span
		color: darken(#FCBD7E, 15)
		border-bottom-color: darken(#FCBD7E, 15)
		
/* about text
	----------------------------------- */
.about-text
	+md
		margin-bottom: 10px
	&__container
		max-width: 1500px
		+md
			max-width: 1200px
		+sm
			max-width: 970px
	&__title
		text-align: center
		margin-bottom: 20px
		font-size: 23px
		+lg
			font-size: 21px
		+md
			font-size: 18px
			margin-bottom: 10px
		+sm
			font-size: 16px
	&__descr
		line-height: (30/22)
		text-indent: 45px
		font-size: 20px
		+lg
			font-size: 19px
		+md
			font-size: 16px
		+sm
			font-size: 14px
			
// pic decor
.decor
	position: relative
	background-color: #F4F8FD
	&::after
		position: absolute
		z-index: 1
		right: 0
		bottom: 0
		content: ''
		width: 0
		height: 0
		border-style: solid
		border-width: 0 0 20px 20px
		border-color: transparent transparent #fff transparent
	&__line
		position: absolute
		left: 0
		bottom: -1px
		width: 87%
		height: 1px
		background-color: rgba(#DAE5EC, .65)
		align-self: flex-end
		&::before, &::after
			position: absolute
			z-index: 1
			bottom: 0
			content: ''
			transition: border-color .3s
		&::before
			right: -16px
			+arr(15,20, rgba(#000, .25),br)
		&::after
			right: -39px
			width: 0
			height: 0
			border-style: solid
			border-width: 22px 23px 0 0
			border-color: rgba(238, 244, 251, 0.9) transparent transparent transparent
			+sm
				right: -39px
		&_suggest
			width: 95%
	&_sm
		background-color: #D7DCE0
		&::after
			display: none
		.decor__line
			width: 85%
		.decor__line:after
			right: -20px
			border-width: 19px 19px 0 0
			background-color: #ececec
		.decor__line:before
			right: -1px
	
	&_xs
		&::after
			border-width: 0 0 20px 19px
			right: -2px
		.decor__line
			width: 80%
			bottom: 0
		.decor__line::after
			right: -26px
			border-width: 18px 18px 0 0
		.decor__line::before
			right: -8px
			border-width: 0 0 18px 13px
		

/* breadcrumbs
	----------------------------------- */
.breadcrumbs
	font-size: 0
	&__link
		display: inline-block
		vertical-align: middle
		font-size: 20px
		span
			display: inline-block
			vertical-align: middle
		&::after
			display: inline-block
			vertical-align: middle
			margin: 0 3px
			content: '/'
		&:last-child::after
			display: none
		&:hover
			color: $hover
		&.is-active
			pointer-events: none
	&__link:hover::after
		color: #000
	&__icon
		display: inline-block
		vertical-align: middle
		margin-right: 5px
		fill: #D0CFCF
		
/* page
	----------------------------------- */
.page
	&_default
		//padding: 35px 0 0
	&__bar
		position: relative
		display: flex
		justify-content: space-between
		align-items: center
		padding-left: 15px
		min-height: 46px
		background: #EBECEC
		&::after
			content: ''
			position: absolute
			bottom: -1px
			left: 5px
			right: 5px
			height: 1px
			background: #D1D1D1
			z-index: 1
		&-title
			padding: 8px 30px
			margin-left: auto
			background: #F3F3F3
			border-radius: 50px 0 0 50px
			min-width: 250px
			font-size: 21px
			text-align: center
			color: #333333
			+md
			
			&_has-icon
				position: relative
				padding: 8px 75px 8px 30px
			&_big-icon
				padding: 8px 85px 8px 30px
			&-icon
				position: absolute
				top: 50%
				transform: translateY(-50%)
				right: 10px
				fill: #C7CBCF
			.icon-machine
				top: 47%
				font-size: 27px
			.icon-pictures
				top: 48%
				font-size: 26px
			.icon-souvenirs_page
				font-size: 25px
			.icon-souvenirs
				right: 16px
				font-size: 25px
			.icon-books_page
				right: 15px
				font-size: 25px
			.icon-presents
				font-size: 28px
				right: 14px
			.icon-balloons_sm
				right: 20px
				fill: #F3F3F3
				stroke: #000
				font-size: 30px
				stroke-width: 1px
			.icon-best-offers
				stroke: #C7CBCF
				fill: #C7CBCF
				font-size: 30px
			.icon-cups
				right: 15px
				font-size: 28px
				
	&__in
		display: flex
		justify-content: space-between
		margin: 30px 0 0
	&__side
		width: 18.5%
	&__main
		display: flex
		flex-direction: column
		width: 80%
	
/* pagination
	----------------------------------- */
.pagination
	padding: 7px 0
	background: #F7F9FC
	font-size: 0
	&__list
		font-size: 0
		text-align: center
	&__list-item
		display: inline-block
		vertical-align: middle
		margin: 0 5px
		&_prev
			margin-right: 10px
			text-align: center
			.pagination__list-link
				padding: 0
				line-height: 39px
		&_dots
			margin: 0 10px
	&__list-item.is-active &__list-link
			background: #FFEBAB
	&__list-link
		display: inline-block
		font-size: 19px
		font-family: Arial, sans-serif
		color: #667FA6
		padding: 6px 12px
		border-radius: 5px
		height: 39px
		min-width: 38px
		&:hover
			background: #EDEDED
		&:active
			background: #C8D6E6
	&__list-link:hover &__icon-arr
		fill: lighten(#667FA6, 20)
	&__icon-arr
		display: inline-block
		vertical-align: middle
		fill: #EDEDED
		font-size: 27px
			
	&_product
		margin: 20px 0 45px
		
	&_watched
		margin: 30px 0
		background: none
		
	&_news
		margin-top: 25px

/* sub-menu
	----------------------------------- */
.category-menu
	position: relative
	&::after
		content: ''
		position: absolute
		bottom: -1px
		left: 5px
		right: 5px
		height: 1px
		background: #D1D1D1
		z-index: 1
	&__title
		margin-bottom: 40px
		text-align: center
		color: #274F7F
	&__list
		display: flex
	&__item
		flex: 1 0 auto
	&__link
		display: block
		padding: 15px 5px
		font-size: 19px
		background: #F7FAFF
		text-align: center
		+trs
		&:hover
			background: #E5F0FC
			
	&_default
		margin-top: auto
	&_basket, &_order
		max-width: 1400px
		margin: 50px auto 0

/* rating
	----------------------------------- */
.rating
	&__text
		margin-bottom: 3px
		color: #1C487A
	&__in
		display: flex
		flex-direction: row-reverse
		justify-content: center
	&__input
		display: none
	&__input ~ &__icon .rating__star
		fill: #DBDBDB
		stroke: #DBDBDB
	&__input:checked ~ &-icon .rating__star,
	&__input:checked &-icon .rating__star
		fill: #FFED00
		stroke: #FFED00
	&__icon:hover .rating__star,
	&__icon:hover ~ &__icon .rating__star
		fill: #C7CBCF
		stroke: #DBDBDB
	&__input:checked &__icon:hover .rating__star,
	&__input:checked ~ &__icon .rating__star
		fill: #FFED00
		stroke: #FFED00
	&__icon
		display: inline-block
		cursor: pointer
	&__star
		font-size: 23px
		
/* check
	----------------------------------- */
.check
	&__circle
		display: inline-block
		margin-left: 4px
		width: 24px
		height: 24px
		border: 2px solid #99AFCF
		border-radius: 50%
		text-align: center
		line-height: 20px
		&::after
			display: inline-block
			width: 14px
			height: 14px
			border-radius: 50%
			background: #768FAE
			content: ''
			transform: scale(.4)
			opacity: 0
			transition: .15s
	label
		font-size: 19px
		color: #000
		cursor: pointer
	input
		display: none
	input:checked + label .check__circle::after
		transform: scale(1)
		opacity: 1

/* label-block
	----------------------------------- */
.label-block
	position: relative
	&__title
		position: absolute
		top: 4px
		left: 50%
		transform: translateX(-50%)
		z-index: 1
		padding: 10px
		+f('tcm', 16, 18)
		color: #004D8C
		background: rgba(#DEF1FF, .6)
		text-transform: uppercase
	&__in
		padding: 4px
		border: 2px solid #47C1F0
		+clr
	&__item
		position: relative
		float: left
		width: calc(50% - 5px)
		padding-top: 36%
		margin-right: 5px
		margin-bottom: 5px
		+clr
		&:nth-child(4)
			padding-top: 0
		&:nth-child(even)
			width: 50%
			margin-right: 0
		&-img
			+coverdiv
			+cover
		&_half
			padding-top: 72%
			margin-bottom: 0
		&_double
			width: 50%
			padding-top: 35%
			margin-right: 0
			&:nth-child(3)
				margin-bottom: 0
		&-label
			position: absolute
			left: 0
			bottom: 0
			padding: 10px
			z-index: 1
			+f('oss', 16, 16)
			color: #fff
			background: rgba(#000, .45)
			&_top
				top: 0
				bottom: auto
	
	&__logo
		padding: 7px 0
		background: #47C1F0
		&-img
			width: 86%
			margin: 0 auto
		
/* benefits-list
	----------------------------------- */
.benefits-list
	&__title
		font-size: 20px
		text-align: center
		font-weight: 700
	&__descr
		margin-top: 35px
		text-indent: 30px
	ul
		margin-top: 20px
		li
			text-indent: 30px
		li:not(:last-child)
			margin-bottom: 20px
	mark
		color: #274F7F
		background: transparent
		text-decoration: underline
		text-decoration-color: #274F7F
	&_default
		margin: 30px 0 0
			
/* section defaults
	----------------------------------- */
.sect
	padding-bottom: 40px
	
.sect-title

.sect-descr
	margin: 20px 0
	text-indent: 30px
	
/* product-types
	----------------------------------- */
.product-types
	&__text
		max-width: 1100px
		margin: 0 auto 30px
		font-style: italic
		font-family: Arial, sans-serif
		text-align: center
	&__title
		margin-bottom: 20px
		font-weight: 700
	&__row
		margin: 0 -8px
		font-size: 0
		&_lg
			margin: 0 -15px 40px
	&__item
		position: relative
		display: inline-block
		vertical-align: top
		width: calc(25% - 16px)
		margin: 0 8px
		height: 437px
		overflow: hidden
		border-bottom: 2px solid
		cursor: pointer
		&:hover &-in
			transform: translateY(-56%)
			background: rgba(#000, .4)
		&:hover &-text
			background-color: transparent
		&:active &-in
			background: rgba(#000, .5)
		&-img
			width: 100%
		&-label
			position: absolute
			padding: 5px
			+f('tcm', 16, 16)
			color: #9D9E9E
			background: rgba(#fff, .5)
			&_1
				max-width: 100px
				top: 218px
				right: 0
			&_2
				left: 0
				bottom: 149px
			&_3
				max-width: 160px
				left: 0
				bottom: 137px
			&_4
				top: 32.4%
				right: 1px
			&_5
				top: 57.3%
				left: 1px
			&_6
				top: 57.3%
				right: 1px
			&_7
				top: 77.1%
				right: 1px
			&_8
				top: 55.2%
				right: 1px
		&_lg
			width: calc(33.33333% - 30px)
			margin: 0 15px
			height: 656px
			&:hover .product-types__item-in
				transform: translateY(-46%)
			.product-types__item-in
				top: 46%
			.product-types__item-text
				margin-top: 267px
				background: rgba(0, 0, 0, 0.6)
			.product-types__item-title
				padding: 34px 10px
				font-size: 22px
			.product-types__item-title span
				border-bottom: none
			.product-types__item-label
				color: #fff
				background: rgba(#757776, .8)
		&-in
			position: absolute
			top: 56%
			width: 100%
			height: 100%
			+gpu
			transition: background .4s ease, transform .4s ease
		&-text
			margin-top: 140px
			transition: background .4s ease
			background: rgba(0, 0, 0, 0.4)
			+f('oss', 18, 18)
			color: #fff
			text-align: center
		&-title
			padding: 17px 10px
			text-transform: uppercase
			font-weight: 600
			span
				border-bottom: 1px solid #fff
		&-descr
			padding: 0 27px
			line-height: 1.4
		&_border-blue
			border-bottom-color: #1C8AFF
		&_border-red
			border-bottom-color: #FF7A7A
		&_border-yellow
			border-bottom-color: #FFFF47
		&_border-green
			border-bottom-color: #5CDB86
		&_border-orange
			border-bottom-color: #f9c565
		&_border-purple
			border-bottom-color: #f7adff
	&_cups
		max-width: 1140px
		margin: 0 auto 50px
		
/* look
	----------------------------------- */
.look
	&__row
		font-size: 0
		+justify
	&__item
		position: relative
		display: inline-block
		vertical-align: middle
		&_border
			border: 2px solid #696969
	&__img
		width: 100%
	&__zoom
		position: absolute
		left: -10px
		bottom: -10px
		padding: 10px
		+tr(background .3s ease)
		&:hover
			background: #eee
		&:hover &-icon
			fill: darken(#B9BDC7, 10)
		&-icon
			font-size: 36px
			fill: #B9BDC7
			+tr(fill .3s ease)
	&__label
		position: absolute
		top: 0
		left: -20px
		max-width: 145px
		color: #0768D1
		+f('tcm', 20)
		line-height: 1.1
		text-align: left
		text-shadow: 1px 1px 1px #808080
	&_cups
		max-width: 1000px
		margin: 40px auto
		padding: 0 20px
		
/* send
	----------------------------------- */
.send
	display: flex
	&__text
		width: 73.3%
		padding: 15px
		background: #fff7c5
		font-family: Arial, sans-serif
		&-mail
			color: #0000c4
			text-decoration: underline
			text-decoration-color: #0000c4
	&__actions
		width: 26.7%
		&-btn
			display: block
			height: 50%
			border-bottom: 2px solid #fbff00
			+vertical
			transition: .15s ease
			span
				display: inline-block
				vertical-align: middle
				font-size: 18px
				text-transform: uppercase
			&_top
				background: #FDD17D
				&:hover
					background: #FEE1AD
					border-bottom-color: #ffff99
				&:active
					background: #C39767
					border-bottom-color: #897E91
			&_bottom
				background: #F4AF67
				&:hover
					background: #FDE0BD
					border-bottom-color: #9CD9FF
				&:active
					background: #C39767
					border-bottom-color: #584466
	&_cups
		max-width: 1050px
		margin: 0 auto

/* price-table
	----------------------------------- */
.price-table
	&__title
		position: relative
		margin-bottom: 20px
		font-family: Arial, sans-serif
		font-size: 19px
		font-weight: 700
		text-align: center
		&::after
			+vcenter
			width: 94%
			height: 1px
			background: #cccccc
			z-index: 1
			content: ''
		span
			position: relative
			padding: 0 15px
			z-index: 2
			background: #fff
	&__table
		text-align: center
		font-size: 18px
		line-height: 1.2
		td
			vertical-align: middle
			width: 15%
			padding: 10px 5px
			border: 2px solid #d7d7d7
			&:nth-child(1)
				width: 10%
		
	&__head
		font-family: Arial, sans-serif
		tr:nth-child(1)
			background: #73d5ff
		tr:nth-child(2)
			background: #9cfcca
		td
			border-color: #fff
		tr:nth-child(2) td
			border-bottom-color: #d7d7d7
		mark
			margin: 0 10px
			padding: 0 10px
			background: #ed0000
			color: #fff
	&__text
		display: block
		margin: 10px 0
		&_highlight
			color: #ed0000
	&__label
		display: block
		margin-bottom: 10px
		padding: 5px 0
		background: #ebf8ff
		&_color
			background: #fff9c4
		&_width
			max-width: 920px
			margin: 0 auto 10px
	&__link
		display: inline-block
		margin: 20px 0 10px
		font-family: Arial, sans-serif
		color: #003399
		&:hover
			text-decoration: underline
			text-decoration-color: currentColor
	&__view
		font-size: 0
		&-item
			position: relative
			&_half
				display: inline-block
				vertical-align: middle
				width: 50%
			&_interest
				display: inline-block
				vertical-align: middle
				margin: 0 2px
		&-img
			margin: 0 auto
			width: 100%
			&_width
				width: auto
		&-text
			position: absolute
			bottom: 0
			left: 0
			padding: 5px
			+f('tcm', 14)
			color: #666666
			background: rgba(#fff, .7)
			text-align: left
			&_color
				color: #66FFCC
				background: rgba(#fff, .3)
	&__zoom
		position: absolute
		left: 10px
		bottom: 8px
		&:hover &-icon
			fill: #4D4D4D
		&-icon
			font-size: 28px
			fill: #fff
			+trs
		&_top
			top: 8px
			bottom: auto
		&_bottom
			bottom: 12px
		&_color
			width: 40px
			height: 40px
			line-height: 68px
			background: rgba(#eee, .7)
			+trs
			&:hover
				background: rgba(#eee, .9)
		&_color &-icon
			fill: #838181
	&_package
		.price-table__table
			td:nth-child(1)
				width: 12%
		.price-table__table td
			width: 5%
			
/* teaser
	----------------------------------- */
.teaser
	&__slider
		display: none
		&.slick-initialized
			display: block
		&-item
			padding: 0 2px
		&-item:hover &-zoom
			opacity: 1
			visibility: visible
		&-item-in
			position: relative
			padding-top: 88%
		&-img
			+coverdiv
			+cover
		&-zoom
			opacity: 0
			visibility: hidden
			position: absolute
			z-index: 3
			top: 10px
			right: 10px
			+trs
			&-icon
				font-size: 36px
				fill: #fff
				+trs
			&:hover &-icon
				fill: #4D4D4D
		&-btn
			position: absolute
			top: 0
			background: rgba(#000, .15)
			z-index: 2
			width: 55px
			height: 100%
			&_prev
				left: 2px
			&_next
				right: 2px
		&-btn.slick-disabled &-icon
			opacity: 0
			visibility: hidden
		&-icon
			fill: #fff
			font-size: 45px
		&-label
			position: absolute
			bottom: 0
			z-index: 3
			padding: 5px 10px 10px
			background: rgba(#fff, .6)
			color: #4D4D4D
			+f('tcm', 14)
			line-height: 1.2
			&_right
				right: 0
				text-align: right
				
.our-address
	position: relative
	padding: 20px 0 10px
	&::before, &::after
		position: absolute
		height: 2px
		left: 50%
		transform: translateX(-50%)
		background: #e5e5e5
		content: ''
	&::before
		width: 93%
		top: 0
	&::after
		width: 65%
		bottom: 0
	&__title
		margin-bottom: 20px
		+f('oss')
		text-align: center
	&__in
		max-width: 1120px
		+clr
	&__col
		float: left
		width: 50%
		&:nth-child(1)
			padding-right: 30px
			p
				text-indent: 10px
		&:nth-child(2)
			padding-left: 20px
			p
				text-align: center
	&__block
		height: 405px
		margin-bottom: 20px
		background: #4cb894
	&_cups
		margin: 50px 0
		
/* overview
	----------------------------------- */
.overview
	& + &
		margin-top: 40px
	&__text
		font-family: Arial, sans-serif
		font-size: 20px
	&__title
		margin-bottom: 25px
		text-transform: uppercase
		font-weight: 700
		text-align: center
		&_last
			max-width: 1015px
			margin: 40px auto 0
			padding: 20px 0 0
			border-top: 1px solid #cecece
	&__descr
		margin-bottom: 25px
		text-align: center
	&__in
		position: relative
		display: flex
	&__col
		margin: 0 2px
	&__item
		position: relative
		& + &
			margin-top: 4px
		&-img
			width: 100%
		&-label
			position: absolute
			right: 0
			bottom: 0
			padding: 5px
			background: #a3a4a5
			color: #fff
			+f('tcm', 15)
	&__zoom
		position: absolute
		top: 10px
		right: 10px
		&:hover &-icon
			fill: darken(#B3B3B3, 30)
		&-icon
			font-size: 36px
			fill: #B3B3B3
			+trs
	&__action
		display: flex
		justify-content: center
		align-items: center
		width: 22%
		background: #92b8ca
		+f('tcm', 23)
		color: #fff
		text-align: center
		text-transform: uppercase
		border-bottom: 2px solid #ff8000
		transition: .15s ease
		&:hover
			background: #b4e4fc
			border-bottom-color: #fffead
		&:active
			background: #93a6af
			border-bottom-color: #578fc2
			color: #4C5961
		span
			padding: 0 10px
			
	&__pic
		position: relative
		padding-top: 25%
		&:nth-child(1)
			width: 58%
		&:nth-child(2)
			width: 44%
		&:nth-child(3)
			width: 30%
		&-img
			+coverdiv
			+cover
		&_md
			margin: 0 2px
			padding-top: 18%
			width: 33.33333%!important
	&__label
		position: absolute
		right: 16%
		top: 7%
		max-width: 200px
		+f('tcm', 29, 29)
		color: #8E2E1E
		text-transform: uppercase
		div
			display: inline-block
			padding: 0 35px 0 5px
			margin-bottom: 2px
			background: #ffff00
			text-indent: 10px
			&:nth-child(2)
				margin-left: 10px
		&_type-2
			top: auto
			bottom: 7%
			right: 23%
			color: #0000D1
			div
				padding: 2px 25px 2px 5px
				background: #99f1ff
				&:nth-child(1)
					margin-left: -14px
				&:nth-child(2)
					margin-left: 40px
				&:nth-child(3)
					margin-left: -10px