$icons: (0:0)
$icons: map-merge($icons,('benefit_1': (X: 0px, Y:-560px, W: 118px, H: 118px, TW: 832px, TH: 780px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('benefit_2': (X: -570px, Y:-407px, W: 118px, H: 118px, TW: 832px, TH: 780px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('benefit_3': (X: -570px, Y:-279px, W: 118px, H: 118px, TW: 832px, TH: 780px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('cart_add-act': (X: -162px, Y:-400px, W: 144px, H: 142px, TW: 832px, TH: 780px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('cart_add-hvr': (X: -570px, Y:0px, W: 144px, H: 142px, TW: 832px, TH: 780px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('cart_add': (X: -316px, Y:-400px, W: 144px, H: 142px, TW: 832px, TH: 780px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('dots_black': (X: -124px, Y:-688px, W: 112px, H: 90px, TW: 832px, TH: 780px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('dots_form': (X: -724px, Y:-483px, W: 53px, H: 39px, TW: 832px, TH: 780px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('edit-act': (X: -724px, Y:-120px, W: 108px, H: 110px, TW: 832px, TH: 780px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('edit-hvr': (X: -724px, Y:0px, W: 108px, H: 110px, TW: 832px, TH: 780px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('edit': (X: -724px, Y:-240px, W: 108px, H: 110px, TW: 832px, TH: 780px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('email': (X: -570px, Y:-152px, W: 141px, H: 117px, TW: 832px, TH: 780px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('file-act': (X: -258px, Y:-560px, W: 112px, H: 104px, TW: 832px, TH: 780px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('file-hvr': (X: -380px, Y:-560px, W: 112px, H: 104px, TW: 832px, TH: 780px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('file': (X: -502px, Y:-560px, W: 112px, H: 104px, TW: 832px, TH: 780px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('like-act': (X: 0px, Y:-400px, W: 152px, H: 150px, TW: 832px, TH: 780px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('like-hvr': (X: -408px, Y:-160px, W: 152px, H: 150px, TW: 832px, TH: 780px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('like': (X: -408px, Y:0px, W: 152px, H: 150px, TW: 832px, TH: 780px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('mark': (X: 0px, Y:0px, W: 236px, H: 228px, TW: 832px, TH: 780px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('parts': (X: -724px, Y:-360px, W: 51px, H: 53px, TW: 832px, TH: 780px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('phone_black': (X: -128px, Y:-560px, W: 120px, H: 108px, TW: 832px, TH: 780px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('search': (X: -724px, Y:-423px, W: 54px, H: 50px, TW: 832px, TH: 780px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('subm-act': (X: -162px, Y:-238px, W: 152px, H: 152px, TW: 832px, TH: 780px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('subm-hvr': (X: 0px, Y:-238px, W: 152px, H: 152px, TW: 832px, TH: 780px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('subm': (X: -246px, Y:0px, W: 152px, H: 152px, TW: 832px, TH: 780px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('user_black': (X: 0px, Y:-688px, W: 114px, H: 92px, TW: 832px, TH: 780px, IMG: '../img/sprite.png')))


// Gets an attribute from the sass map
@function icon-attr($icon, $attr)
  $icon: map-get($icons, $icon)
  @return map-get($icon, $attr)

@mixin sprite($iconName)
  background-image: url(icon-attr($iconName, IMG))
  width: icon-attr($iconName, W)
  height: icon-attr($iconName, H)
  background-position: icon-attr($iconName, X) icon-attr($iconName, Y)
@mixin sprite-retina($iconName)
  background-image: url(icon-attr($iconName, IMG))
  $width: icon-attr($iconName, W)
  $height: icon-attr($iconName, H)
  width: $width/2
  height: $height/2
  $x: icon-attr($iconName, X)
  $y: icon-attr($iconName, Y)
  background-position: $x/2 $y/2
  $tw: icon-attr($iconName, TW)   
  $th: icon-attr($iconName, TH)
  background-size: $tw/2 $th/2
@mixin sprite-triple($iconName)
   background-image: url(icon-attr($iconName, IMG))
   $width: icon-attr($iconName, W)
   $height: icon-attr($iconName, H)
   width: $width/3
   height: $height/3
   $x: icon-attr($iconName, X)
   $y: icon-attr($iconName, Y)
   background-position: $x/3 $y/3
   $tw: icon-attr($iconName, TW)
   $th: icon-attr($iconName, TH)
   background-size: $tw/3 $th/3


@mixin s($i)
  +sprite($i)
@mixin st($i)
  +sprite-triple($i)
@mixin sr($i)
  +sprite-retina($i)

//
//.icon-benefit_1
//  width: 118px
//  height: 118px
//  background-image: url('../img/sprite.png')
//  background-position: 0px -560px
//
//.icon-benefit_2
//  width: 118px
//  height: 118px
//  background-image: url('../img/sprite.png')
//  background-position: -570px -407px
//
//.icon-benefit_3
//  width: 118px
//  height: 118px
//  background-image: url('../img/sprite.png')
//  background-position: -570px -279px
//
//.icon-cart_add-act
//  width: 144px
//  height: 142px
//  background-image: url('../img/sprite.png')
//  background-position: -162px -400px
//
//.icon-cart_add-hvr
//  width: 144px
//  height: 142px
//  background-image: url('../img/sprite.png')
//  background-position: -570px 0px
//
//.icon-cart_add
//  width: 144px
//  height: 142px
//  background-image: url('../img/sprite.png')
//  background-position: -316px -400px
//
//.icon-dots_black
//  width: 112px
//  height: 90px
//  background-image: url('../img/sprite.png')
//  background-position: -124px -688px
//
//.icon-dots_form
//  width: 53px
//  height: 39px
//  background-image: url('../img/sprite.png')
//  background-position: -724px -483px
//
//.icon-edit-act
//  width: 108px
//  height: 110px
//  background-image: url('../img/sprite.png')
//  background-position: -724px -120px
//
//.icon-edit-hvr
//  width: 108px
//  height: 110px
//  background-image: url('../img/sprite.png')
//  background-position: -724px 0px
//
//.icon-edit
//  width: 108px
//  height: 110px
//  background-image: url('../img/sprite.png')
//  background-position: -724px -240px
//
//.icon-email
//  width: 141px
//  height: 117px
//  background-image: url('../img/sprite.png')
//  background-position: -570px -152px
//
//.icon-file-act
//  width: 112px
//  height: 104px
//  background-image: url('../img/sprite.png')
//  background-position: -258px -560px
//
//.icon-file-hvr
//  width: 112px
//  height: 104px
//  background-image: url('../img/sprite.png')
//  background-position: -380px -560px
//
//.icon-file
//  width: 112px
//  height: 104px
//  background-image: url('../img/sprite.png')
//  background-position: -502px -560px
//
//.icon-like-act
//  width: 152px
//  height: 150px
//  background-image: url('../img/sprite.png')
//  background-position: 0px -400px
//
//.icon-like-hvr
//  width: 152px
//  height: 150px
//  background-image: url('../img/sprite.png')
//  background-position: -408px -160px
//
//.icon-like
//  width: 152px
//  height: 150px
//  background-image: url('../img/sprite.png')
//  background-position: -408px 0px
//
//.icon-mark
//  width: 236px
//  height: 228px
//  background-image: url('../img/sprite.png')
//  background-position: 0px 0px
//
//.icon-parts
//  width: 51px
//  height: 53px
//  background-image: url('../img/sprite.png')
//  background-position: -724px -360px
//
//.icon-phone_black
//  width: 120px
//  height: 108px
//  background-image: url('../img/sprite.png')
//  background-position: -128px -560px
//
//.icon-search
//  width: 54px
//  height: 50px
//  background-image: url('../img/sprite.png')
//  background-position: -724px -423px
//
//.icon-subm-act
//  width: 152px
//  height: 152px
//  background-image: url('../img/sprite.png')
//  background-position: -162px -238px
//
//.icon-subm-hvr
//  width: 152px
//  height: 152px
//  background-image: url('../img/sprite.png')
//  background-position: 0px -238px
//
//.icon-subm
//  width: 152px
//  height: 152px
//  background-image: url('../img/sprite.png')
//  background-position: -246px 0px
//
//.icon-user_black
//  width: 114px
//  height: 92px
//  background-image: url('../img/sprite.png')
//  background-position: 0px -688px
//